<md-card class="candidate-card" ng-click="candidateDetails(candidate.id)">
    <div layout="column" layout-padding>
        <div layout="row" layout-align="space-between center" class="md-body-1">
            <div class="open" layout-wrap>
                <h1 class="md-headline open color-indigo word-wrap">
                    <b>{{::candidate.nameEng}} {{::candidate.surnameEng}}</b>
                </h1>
            </div>
            <div layout="row">
                <div class="md-subhead">{{::candidate.status.name}}</div>
                <i class="mdi {{::candidate.status.name|iconFilter}} mdi-24px"></i>
            </div>
        </div>
        <div layout="row" layout-align="space-between center" class="md-body-1">
            <div class="md-subhead color-red">
                {{::candidate.profession.name}} • {{::candidate.experience}} year(s) • {{::candidate.city.name}}
            </div>
            <div>
                {{::candidate.lastContact|date}}
            </div>
        </div>
    </div>
</md-card>