<md-card layout="column" class="position-card" ng-click="positionDetails(position.id)">
    <div layout="row" layout-padding layout-align="space-between center">
        <div class="open" layout="row" layout-wrap>
            <h1 class="md-headline color-indigo word-wrap">
                <b>{{::position.header}}</b>
            </h1>
        </div>
        <div layout="row" layout-wrap>
            <i class="mdi {{::position.status.name|iconFilter}} mdi-24px"></i>
            <div class="md-title">
                <div class="md-subhead">{{::position.status.name}}</div>
            </div>
        </div>
    </div>
    <div class="md-subhead color-red" layout="row" layout-align="space-between none" layout-padding>
        <div> {{::position.profession.name}} • {{::position.experience}} year(s)</div>
    </div>
    <div class="card-content md-body-2">
        <p>
            {{::position.projectName}}
        </p>
    </div>
    <md-card-footer layout="row" layout-xs="column">
        <div flex="70" flex-xs="100" layout="row" layout-align="start center" layout-wrap>
            <div class="badge bg-green color-white">
                {{::position.profession.name}}
            </div>
            <div ng-repeat=" skill in position.skills|limitTo:5">
                <div class="badge color-white word-wrap bg-indigo" layout-wrap>
                    {{::skill.name}}
                </div>
            </div>
        </div>
        <div class="md-body-2 color-grey-900" layout="row" layout-align="end center" layout-margin flex="40"
             flex-xs="100">
            <div layout="row">
                <i class="mdi mdi-map-marker mdi-24px"></i>
                {{::position.city.name}}
            </div>
            <div layout="row">
                <i class="mdi mdi-calendar-range mdi-24px"></i>
                {{::position.requestDate|date}}
            </div>
        </div>
    </md-card-footer>
</md-card>