<div class="wrapper">
    <br>
    <div layout="row" layout-align=end>
        <div md-colors="{color:'red-600'}" class="md-display-1">
            <span>Notifications</span>
        </div>
    </div>
    <hr>
    <div infinite-scroll="loadMore()" infinite-scroll-distance="1" infinite-scroll-disabled='!showMore'>
        <notification-card ng-repeat="notification in notifications track by $index"
                           notification="notification"></notification-card>
    </div>
    <div class="spinner" layout-align="space-around" ng-if="isLoading" layout="row">
        <md-progress-circular md-mode="indeterminate" value="{{isLoading}}" md-diameter="60"
                              ng-cloak></md-progress-circular>
    </div>
    <div layout="row" layout-align="center center" layout-margin ng-if="!notifications.length&&!isLoading">
        <h1 class="md-headline">Nothing new for you</h1>
    </div>
</div>