<md-dialog class="interview-dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Interview preview</h2>
        </div>
    </md-toolbar>
    <div class="interview-wrapper">
        <div layout="column">
            <br>
            <div class="md-display-1">
                <b><span>{{interview.header}}</span></b>
            </div>
            <br>
            <div layout="column" class="md-title" layout-align="space-between none">
                <div>
                    <b>Date of interview: </b> {{interview.date|date:'dd-MM-yyyy HH:mm'}}
                </div>
                <div ng-if="getAccess()!=='tech'" ng-click="candidateDetails()" layout="row">
                    <b >Candidate: </b> <div class="color-indigo">{{interview.candidate.nameEng}} {{interview.candidate.surnameEng}}</div>
                </div>

                <div ng-if="getAccess()==='tech'" layout="row">
                    <b>Candidate: </b> {{interview.candidate.nameEng}} {{interview.candidate.surnameEng}}
                </div>
                <div>
                    <b>HRM-email: </b> {{interview.hrmEmail}}
                </div>
                <div ng-if="interview.description">
                    <b>Description: </b> {{interview.description}}
                </div>
            </div>
            <br>
            <br>
        </div>
    </div>
</md-dialog>