.mrgn-top-small {
    margin-top: 5px;
}

.mrgn-top {
    margin-top: 20px;
    margin-bottom: 10px;
}

.separator-text {
    margin: 0;
    font-size: 30px;
}

.mrgn-skills-text {
    margin-bottom: 10px;
}

.skills-text {
    font-size: 18px;
}

.eng-text {
    margin-left: 20px;
    margin-top: 20px;
}

.mrgn-left-div {
    margin-left: 20px;
}

.skills-select {
    width: 160px;
}

.skills-select-city {
    margin-top: 0;
    width: 160px;
}

.select-container {
    min-height: 54px;
}

.lang-select {
    width: 64px;
}

.skills-select-rating {
    width: 80px;
}

.skills-select-year {
    width: 120px;
}

.skills-select-exp {
    width: 120px;
}

.mrgn-zero {
    margin: 0;
    padding: 0;
}

.mrgn-zero-in-row {
    margin: 0 20px 0 0;
    padding: 0;
}

.mrgn-time-picker {
    margin: 1px 20px 0 0;
}

.big-row {
    margin-right: 50px;
}

.mrgn-bot {
    margin-bottom: 20px;
}

.md-button.operation-button {
    min-width: 0;
    min-height: 0;
    padding: 0;
    width: 50px;
    margin: 4px 0 4px 0;
    background-color: #15445b;
}

.md-button.submit-button {
    background-color: #15445b;
    font-size: 20px;
    color: white;
}

.error-text {
    color: #e53935;
    font-size: 18px;
}

.warning-text {
    color: #15445b;
    font-size: 18px;
}

.md-button.md-focused {
    background-color: #129BDE;
}

.buttons-text {
    margin-bottom: 2px;
}

.mrgn-top-mid {
    margin-top: 13px;
}

.fixed-height {
    height: 26px;
}

.path-container {
    background-color: lightgray;
}

.button-container {
    background-color: white;
}

input {
    text-overflow: ellipsis;
}

.file_upload {
    position: relative;
    overflow: hidden;
    width: 190px;
}

.file-text {
    text-overflow: ellipsis;
}

.file_upload > md-button{
    float: right;
    width: 2em;
    height: 100%
}

.file_upload > div{
    padding-left: 1em
}

.file_upload input[type=file]{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(20);
    letter-spacing: 10em;     /* IE 9 fix */
    -ms-transform: scale(20); /* IE 9 fix */
    opacity: 0;
    cursor: pointer
}