<div layout="row" layout-align="center" class="wrapper-content">
    <form ng-submit="addcandidate.addCandidate()" name="candidateForm" id="candidateForm" flex-gt-xs="60" flex-xs="100">
        <div layout="column">
            
            <div layout="row" layout-align="space-between center">
                <div class="md-display-1 color-red">
                    <span flex-offset="13">Add candidate</span>
                </div>
            </div>
            <hr>
            <!--PERSONAL INFORMATION-->
            <md-card>
                <div class="mrgn-left-div">
                    <div class="mrgn-top">
                        <span class="separator-text">Personal information:</span>
                    </div>
                    
                    <div class="mrgn-bot">
                        <!--RUSSIAN INF-->
                        <div layout-gt-sm="row" layout-sm="column" layout-xs="column">
                            <md-input-container class="mrgn-zero-in-row" flex-gt-sm="30">
                                <label>Name (russian)</label>
                                <input required ng-model="candidate.nameRus" name="nameRus" min-length="2" max-length="20" language="rus">
                                <div ng-messages="candidateForm.nameRus.$error">
                                    <div ng-message="required">This field is required</div>
                                    <div ng-message="language">Only russian symbols</div>
                                    <div ng-message="minLength">Must be more than 2 symbols</div>
                                    <div ng-message="maxLength">Must be less than 20 symbols</div>
                                </div>
                            </md-input-container>
                            
                            <md-input-container class="mrgn-zero-in-row" flex-gt-sm="30">
                                <label>Surname (russian)</label>
                                <input required ng-model="candidate.surnameRus" name="surnameRus" min-length="2" max-length="20" language="rus">
                                <div ng-messages="candidateForm.surnameRus.$error">
                                    <div ng-message="required">This field is required</div>
                                    <div ng-message="language">Only russian symbols</div>
                                    <div ng-message="minLength">Must be more than 2 symbols</div>
                                    <div ng-message="maxLength">Must be less than 20 symbols</div>
                                </div>
                            </md-input-container>
                            
                            <md-input-container class="mrgn-zero-in-row" flex-gt-sm="30">
                                <label>Last name (russian)</label>
                                <input ng-model="candidate.patronymicRus" name="patronymicRus" min-length="2" max-length="20" language="rus">
                                <div ng-messages="candidateForm.patronymicRus.$error">
                                    <div ng-message="language">Only russian symbols</div>
                                    <div ng-message="minLength">Must be more than 2 symbols</div>
                                    <div ng-message="maxLength">Must be less than 20 symbols</div>
                                </div>
                            </md-input-container>
                        </div>
                        <!--ENG INF-->
                        <div layout-gt-sm="row" layout-sm="column" layout-xs="column">
                            <md-input-container class="mrgn-zero-in-row" flex-gt-sm="30">
                                <label>Name (english)</label>
                                <input required ng-model="candidate.nameEng" name="nameEng" min-length="2" max-length="20" language="eng">
                                <div ng-messages="candidateForm.nameEng.$error">
                                    <div ng-message="required">This field is required</div>
                                    <div ng-message="language">Only english symbols</div>
                                    <div ng-message="minLength">Must be more than 2 symbols</div>
                                    <div ng-message="maxLength">Must be less than 20 symbols</div>
                                </div>
                            </md-input-container>
                            
                            <md-input-container class="mrgn-zero-in-row" flex-gt-sm="30">
                                <label>Surname (english)</label>
                                <input required ng-model="candidate.surnameEng" name="surnameEng" min-length="2" max-length="20" language="eng">
                                <div ng-messages="candidateForm.surnameEng.$error">
                                    <div ng-message="required">This field is required</div>
                                    <div ng-message="language">Only english symbols</div>
                                    <div ng-message="minLength">Must be more than 2 symbols</div>
                                    <div ng-message="maxLength">Must be less than 20 symbols</div>
                                </div>
                            </md-input-container>
                        </div>
                        <!--CITY/SALARY-->
                        <div layout-gt-sm="row" layout-sm="column" layout-xs="column">
                            
                            <md-input-container class="select-container mrgn-zero-in-row" flex-gt-sm="30">
                                <label>City</label>
                                <md-select ng-model="candidate.city.id">
                                    <md-option ng-value="city.id" ng-repeat="city in addcandidate.citiesList">
                                        {{city.name}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            
                            <md-input-container class="mrgn-zero-in-row" flex-gt-sm="30">
                                <label>Wishes for salary ($)</label>
                                <input ng-model="candidate.salary" type="number" min="0" max="100000" name="salary">
                                <div ng-messages="candidateForm.salary.$error">
                                    <div ng-message="min">Must be more than 0</div>
                                    <div ng-message="max">Must be less than 100000</div>
                                </div>
                            </md-input-container>
                            
                            <md-input-container class="select-container mrgn-zero-in-row" flex-gt-sm="30">
                                <label>Status</label>
                                <md-select ng-model="candidate.status.id">
                                    <md-option ng-value="status.id" ng-repeat="status in addcandidate.statusesList">
                                        {{status.name}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        
                        <div layout="column">
                            <div class="mrgn-skills-text">
                                <span class="skills-text">Resume:</span>
                            </div>
                            
                            <div class="file_upload" layout="row">
                                <md-button class="md-fab md-mini operation-button" ng-click="addcandidate.clickFile()" aria-label="filebutton">
                                    <i class="mdi mdi-upload mdi-24px"></i>
                                </md-button>
                                <div class="mrgn-top-mid">
                                    <span class="file-text">{{fileName}}</span>
                                </div>
                                <input id="add" type="file" title="Choose file"/>
                            </div>
                        </div>
                    
                    </div>
                </div>
            </md-card>
            <!--SKILLS-->
            <md-card>
                <div class="mrgn-left-div">
                    <div class="mrgn-top">
                        <span class="separator-text">Skills:</span>
                    </div>
                    
                    <div class="mrgn-bot">
                        <div layout="row">
                            <!--ENG-->
                            <md-input-container class="mrgn-zero-in-row select-container" flex-gt-xs="30" flex-xs="45">
                                <label>English level</label>
                                <md-select ng-model="candidate.englishLevel">
                                    <md-option ng-value="skill" ng-repeat="skill in addcandidate.englishSkillsList">
                                        {{skill | englishLevel}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <!--PROFESSION-->
                            <md-input-container class="select-container mrgn-zero-in-row" flex-gt-xs="30" flex-xs="45">
                                <label>Profession</label>
                                <md-select name="profession" required ng-model="candidate.profession.id" >
                                    <md-option ng-value="prof.id" ng-repeat="prof in addcandidate.professionsList">
                                        {{prof.name}}
                                    </md-option>
                                </md-select>
                                <div ng-messages="candidateForm.profession.$error">
                                    <div ng-message="required">This field is required</div>
                                </div>
                            </md-input-container>
                        </div>
                        <!--MAIN SKILLS-->
                        <div layout="column">
                            <!--PRIMARY-->
                            <div class="mrgn-skills-text">
                                <span class="skills-text">Primary skill:</span>
                            </div>
                            <!--SELECTS-->
                            <div layout-gt-md="row" layout-md="column" layout-sm="column" layout-xs="column">
                                <div>
                                    <div layout="column" class="select-container mrgn-zero-in-row">
                                        <skills-tree required="true" multiselect="false" skills-tree-request="addcandidate.skillsTreeRequest" chosen-skill="candidate.primarySkill"></skills-tree>
                                    </div>
                                </div>
                                <div layout="row">
                                    <md-input-container class="select-container mrgn-zero-in-row" flex="20">
                                        <label>Lvl</label>
                                        <md-select required ng-model="candidate.primarySkillLevel" name="rateprim">
                                            <md-option ng-value="rateprim" ng-repeat="rateprim in addcandidate.ratingsList">
                                                {{rateprim}}
                                            </md-option>
                                        </md-select>
                                        <div ng-messages="candidateForm.rateprim.$error">
                                            <div ng-message="required">This field is required</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container class="select-container mrgn-zero-in-row" flex="20">
                                        <label>Last use</label>
                                        <md-select required ng-model="candidate.primarySkillLastUsage" name="useprim">
                                            <md-option ng-value="prskillyear" ng-repeat="prskillyear in addcandidate.yearsList">
                                                {{prskillyear}} year
                                            </md-option>
                                        </md-select>
                                        <div ng-messages="candidateForm.useprim.$error">
                                            <div ng-message="required">This field is required</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container class="select-container mrgn-zero-in-row" flex="20">
                                        <label>Experience (years)</label>
                                        <input required ng-model="candidate.primarySkillExperience" type="number" step="0.5" min="0" name="expprim">
                                        <div ng-messages="candidateForm.expprim.$error">
                                            <div ng-message="required">This field is required</div>
                                        </div>
                                    </md-input-container>
                                </div>
                            </div>
                        </div>
                        
                        <div layout="column">
                            <!--ADDITIONAL-->
                            <div layout="row">
                                <div class="mrgn-zero-in-row">
                                    <div class="mrgn-skills-text mrgn-top-mid">
                                        <span class="skills-text">Additional skills:</span>
                                    </div>
                                </div>
                                <div>
                                    <md-button class="md-fab md-mini operation-button" ng-click="addcandidate.addAdditionalSkill()" aria-label="additional">
                                        <i class="mdi mdi-plus mdi-18px"></i>
                                    </md-button>
                                </div>
                            </div>
                            <!--SELECTS-->
                            <div layout-gt-md="row" layout-md="column" layout-sm="column" layout-xs="column" ng-repeat="select in candidate.additionalSkills track by select.index">
                                <div>
                                    <div layout="column" class="select-container mrgn-zero-in-row">
                                        <skills-tree multiselect="false" skills-tree-request="addcandidate.skillsTreeRequest" chosen-skill="select.chosen"></skills-tree>
                                    </div>
                                </div>
                                <div layout="row">
                                    <md-input-container class="select-container mrgn-zero-in-row" flex="20">
                                        <label>Lvl</label>
                                        <md-select required ng-model="select.chosenLevel" name="addrate_{{$index}}">
                                            <md-option ng-value="rate" ng-repeat="rate in addcandidate.ratingsList">
                                                {{rate}}
                                            </md-option>
                                        </md-select>
                                        <div ng-messages="candidateForm['addrate_' + $index].$error">
                                            <div ng-message="required">This field is required</div>
                                        </div>
                                    </md-input-container>
    
                                    <md-input-container class="select-container mrgn-zero-in-row" flex="20">
                                        <label>Last use</label>
                                        <md-select required ng-model="select.chosenYear" name="addyear_{{$index}}">
                                            <md-option ng-value="prskillyear" ng-repeat="prskillyear in addcandidate.yearsList">
                                                {{prskillyear}} year
                                            </md-option>
                                        </md-select>
                                        <div ng-messages="candidateForm['addyear_' + $index].$error">
                                            <div ng-message="required">This field is required</div>
                                        </div>
                                    </md-input-container>
    
                                    <md-input-container class="select-container mrgn-zero-in-row" flex="20">
                                        <label>Experience (years)</label>
                                        <input required ng-model="select.chosenExp" type="number" step="0.5" min="0" name="addexp_{{$index}}">
                                        <div ng-messages="candidateForm['addexp_'+$index].$error">
                                            <div ng-message="required">This field is required</div>
                                        </div>
                                    </md-input-container>
                                    
                                    <div class="mrgn-zero" flex="20">
                                        <md-button class="md-fab md-mini operation-button" ng-click="addcandidate.removeAdditionalSkill(candidate.additionalSkills.indexOf(select))" aria-label="remove">
                                            <i class="mdi mdi-minus mdi-18px"></i>
                                        </md-button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--EXPERIENCE-->
                        <div layout="column">
                            <div class="mrgn-skills-text">
                                <span class="skills-text">Work experience (common)</span>
                            </div>
                            
                            <div>
                                <md-input-container class="mrgn-zero-in-row">
                                    <label>Experience (years)</label>
                                    <input ng-model="candidate.experience" type="number" step="0.5" min="0">
                                </md-input-container>
                            </div>
                        </div>
                    </div>
                </div>
            </md-card>
            
            <!--CONTACTS-->
            <md-card>
                <div class="mrgn-left-div">
                    <div class="mrgn-top">
                        <span class="separator-text">Contacts:</span>
                    </div>
                    
                    <div class="mrgn-bot">
                        <div layout="column">
                            <div>
                                <md-input-container class="mrgn-zero">
                                    <label>Phone number</label>
                                    <input required ng-model="candidate.phoneNumber" name="phoneNumber" phone>
                                    <div ng-messages="candidateForm.phoneNumber.$error">
                                        <div ng-message="required">This field is required</div>
                                        <div ng-message="phone">Must start with +, 3-15 numbers</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div>
                                <md-input-container class="mrgn-zero">
                                    <label>Email</label>
                                    <input required ng-model="candidate.email" name="email" email>
                                    <div ng-messages="candidateForm.email.$error">
                                        <div ng-message="required">This field is required</div>
                                        <div ng-message="email">Must be valid email</div>
                                    </div>
                                </md-input-container>
                                <md-button class="md-fab md-mini operation-button" ng-click="addcandidate.addExtraEmail()" aria-label="emailadd">
                                    <i class="mdi mdi-plus mdi-18px"></i>
                                </md-button>
                            </div>
                            <div layout-gt-sm="column">
                                <div ng-repeat="extraEmail in candidate.extraEmails track by extraEmail.index">
                                    <md-input-container class="mrgn-zero">
                                        <label>Email (extra)</label>
                                        <input required ng-model="extraEmail.email" name="emailextra_{{$index}}" email>
                                        <div ng-messages="candidateForm['emailextra_' + $index].$error">
                                            <div ng-message="required">This field is required</div>
                                            <div ng-message="email">Must be valid email</div>
                                        </div>
                                    </md-input-container>
                                    <md-button class="md-fab md-mini operation-button" ng-click="addcandidate.removeExtraEmail(candidate.extraEmails.indexOf(extraEmail))" aria-label="emailremove">
                                        <i class="mdi mdi-minus mdi-18px"></i>
                                    </md-button>
                                </div>
                            </div>
                            <div>
                                <md-input-container class="mrgn-zero">
                                    <label>LinkedIn</label>
                                    <input ng-model="candidate.linkedIn" name="linkedIn" linked-in>
                                    <div ng-messages="candidateForm.linkedIn.$error">
                                        <div ng-message="linkedIn">Must be valid linkedIn reference</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div>
                                <md-input-container class="mrgn-zero">
                                    <label>Skype</label>
                                    <input ng-model="candidate.skypeId" name="skypeId" skype-id>
                                    <div ng-messages="candidateForm.skypeId.$error">
                                        <div ng-message="skypeId">Must be valid skypeId</div>
                                    </div>
                                </md-input-container>
                            </div>
                        </div>
                    </div>
                </div>
            </md-card>
            
            <md-card>
                <div class="mrgn-left-div">
                    <div layout="column">
                        <div class="mrgn-top">
                            <span class="separator-text">Communication:</span>
                        </div>
                        
                        <div class="mrgn-bot" layout-gt-sm="row" layout-sm="column">
                            <div class="mrgn-zero-in-row big-row" flex-gt-xs="30" flex-xs="80">
                                <md-datepicker ng-model="candidate.lastContact" md-placeholder="Last contact" md-open-on-focus></md-datepicker>
                            </div>
                            
                            <div class="mrgn-zero-in-row" flex-gt-xs="30" flex-xs="80">
                                <md-datepicker ng-model="candidate.nextContact" md-placeholder="Next contact" md-open-on-focus></md-datepicker>
                            </div>
                        </div>
                    </div>
                </div>
            </md-card>
            <div ng-show="addcandidate.triedToSubmit && candidateForm.$invalid">
                <div class="mrgn-left-div">
                    <span class="error-text">The form is invalid. Please check all fields.</span>
                </div>
            </div>
            <div ng-show="addcandidate.serverError">
                <div class="mrgn-left-div">
                    <span class="error-text">Server status: {{addcandidate.serverError.status}} - {{addcandidate.serverError.statusText}}: {{addcandidate.serverError.data.message}}</span>
                </div>
            </div>
            <div ng-show="addcandidate.similarCandidatesMessage">
                <div class="mrgn-left-div">
                    <span class="warning-text">{{addcandidate.similarCandidatesMessage}}</span>
                    <span class="color-red link" ng-click="addcandidate.showSimilar(similarCandidates)">Show</span>
                    <span class="color-green link" ng-click="addcandidate.addCandidateAnyway(candidate)">Submit anyway</span>
                </div>
            </div>
            <div layout="row" layout-align="center center" ng-show="addcandidate.sendingCandidate || addcandidate.sendingResume">
                <md-progress-circular md-mode="indeterminate" md-diameter="60" ng-cloak></md-progress-circular>
            </div>
            <div align="center">
                <md-button class="submit-button" type="submit">Submit</md-button>
            </div>
        </div>
    </form>
</div>