<div class="wrapper-content">
    <div layout="column" layout-align="center center">
        <div>
            <h1 class="md-display-3">Oops! Something went wrong...</h1>
        </div>
        <div layout="column" layout-align="center center">
            <div layout="row" layout-align="center center">
                <h1 class="md-display-4">{{error.status}}</h1>
            </div>
            <h1 class="md-display-3">Error code: {{error.statusText}}</h1>
            <md-button class="md-primary md-button"><h1 class=" md-display-2" ui-sref="notifications">Go home</h1>
            </md-button>
        </div>
    </div>
</div>
