<div class="wrapper-content">
    <div layout="column">
        <div layout="row" layout-align="space-between center">
            <div class="md-display-1 color-red">
                <span flex-offset="13">Positions</span>
            </div>
            <span layout-align-md="none center" class="md-title color-red">Found: {{found}}</span>
        </div>
        <hr>
        <div layout="row" layout-md="column" layout-sm="column" layout-xs="column">
            <div flex="30" flex-md="100" flex-sm="100" flex-xs="100" layout-align="start center">
                <quick-filter items="filters" already-selected="alreadySelected" mode="mode"></quick-filter>
            </div>
            <div flex="70" flex-md="100" flex-sm="100" flex-xs="100" layout-align="start center">
                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab ng-repeat="tab in tabs" ng-click="changeTab(tab)" label="{{tab}}">
                        <div ng-if="activeTab === tab">
                            <div infinite-scroll="loadMore()" infinite-scroll-distance="3"
                                 infinite-scroll-disabled='!showMore'>
                                <position-card ng-repeat="position in positions[activeTab]"
                                               position="::position" filter-config="filterConfig"></position-card>
                            </div>
                        </div>
                        <div ng-show="isLoading">
                            <md-progress-circular flex-offset="50" layout="column" layout-align="center center"
                                                  md-mode="indeterminate"
                                                  value="{{isLoading}}" md-diameter="60"
                                                  ng-cloak></md-progress-circular>
                        </div>
                        <div layout="row" layout-align="center center" layout-margin ng-if="!found">
                            <h1 class="md-headline">Nothing was found</h1>
                        </div>
                    </md-tab>
                </md-tabs>
            </div>
        </div>
    </div>
</div>
