<div class="wrapper-content">
    <div layout="column">
        <div layout="row" layout-align=end>
            <div md-colors="{color:'red-600'}" class="md-display-1">
                <span flex-offset="13">Admin dashboard</span>
            </div>
        </div>
        <hr>
        <br>
        <div md-colors="{color:'primary-600'}" class="md-headline">
            <span flex-offset="13"><b>Add new options</b></span>
        </div>
        <br>
        <div layout-xs="column" layout-wrap layout="row">
            <form flex="50" flex-xs="100" layout="row" layout-align="left center" ng-submit="postProject()">
                <div flex="80">
                    <md-input-container class="md-icon-float md-block mrgn-zero-in-row">
                        <md-icon><i class="mdi mdi-settings mdi-24px" md-colors="{color:'grey-600'}"></i></md-icon>
                        <input placeholder="Add project" ng-model="project" type="text" required>
                    </md-input-container>
                </div>
                <div flex="20">
                    <md-button class="md-icon-button"  type="submit">
                        <i class="mdi mdi-plus mdi-36px"  md-colors="{color:'green-600'}"></i>
                    </md-button>
                </div>
            </form>
            <form flex="50" flex-xs="100" layout="row" layout-align="left center" ng-submit="postCity()">
                <div flex="80">
                    <md-input-container class="md-icon-float md-block mrgn-zero-in-row">
                        <md-icon><i class="mdi mdi-settings mdi-24px" md-colors="{color:'grey-600'}"></i></md-icon>
                        <input placeholder="Add city" ng-model="city" type="text" required>
                    </md-input-container>
                </div>
                <div flex="20">
                    <md-button class="md-icon-button" aria-label="More" type="submit">
                        <i class="mdi mdi-plus mdi-36px"  md-colors="{color:'green-600'}"></i>
                    </md-button>
                </div>
            </form>
            <form flex="50" flex-xs="100" layout="row" layout-align="left center" ng-submit="postPositionStatus()">
                <div flex="80">
                    <md-input-container class="md-icon-float md-block mrgn-zero-in-row">
                        <md-icon><i class="mdi mdi-settings mdi-24px" md-colors="{color:'grey-600'}"></i></md-icon>
                        <input placeholder="Add position status" ng-model="statusPosition" type="text" required>
                    </md-input-container>
                </div>
                <div flex="20">
                    <md-button class="md-icon-button" aria-label="More" type="submit">
                        <i class="mdi mdi-plus mdi-36px"
                           md-colors="{color:'green-600'}"></i>
                    </md-button>
                </div>
            </form>
            <form flex="50" flex-xs="100" layout="row" layout-align="left center" ng-submit="postCandidateStatus()">
                <div flex="80">
                    <md-input-container class="md-icon-float md-block mrgn-zero-in-row">
                        <md-icon><i class="mdi mdi-settings mdi-24px" md-colors="{color:'grey-600'}"></i></md-icon>
                        <input placeholder="Add candidate status" ng-model="statusCandidate" type="text" required>
                    </md-input-container>
                </div>
                <div flex="20">
                    <md-button class="md-icon-button" aria-label="More " type="submit">
                        <i class="mdi mdi-plus mdi-36px"
                           md-colors="{color:'green-600'}"></i>
                    </md-button>
                </div>
            </form>
            <form flex="50" flex-xs="100" layout="row" layout-align="left center" ng-submit="postProfession()">
                <div flex="80">
                    <md-input-container class="md-icon-float md-block mrgn-zero-in-row">
                        <md-icon><i class="mdi mdi-settings mdi-24px" md-colors="{color:'grey-600'}"></i></md-icon>
                        <input placeholder="Add profession" ng-model="profession" type="text" required>
                    </md-input-container>
                </div>
                <div flex="20">
                    <md-button class="md-icon-button mrgn-zero-in-row" aria-label="More" type="submit">
                        <i class="mdi mdi-plus mdi-36px"
                           md-colors="{color:'green-600'}"></i>
                    </md-button>
                </div>
            </form>
        </div>
        <span class="color-green md-headline">{{messageAdmin}}</span>
    </div>
    <div layout="row" layout-align=end>
        <div class="md-display-1 color-red">
            <span flex-offset="13">History</span>
        </div>
    </div>
    <hr>
    <div layout="column" layout-align="none center">
        <div ng-if="history.length" class="list-wrapper">
            <div infinite-scroll="loadMore()" infinite-scroll-distance="3" infinite-scroll-disabled="!showMore">
                <div ng-repeat="item in history track by $index ">
                    <div class="md-list-item-text" layout="column" layout-padding>
                        <div layout="row" layout-align="space-between center">
                            <div><p class="md-title"><b>{{::item.employee }}</b></p></div>
                            <h6 class="md-title"> {{::item.date|date }}</h6>
                        </div>
                        <div layout="row">
                            <i class="mdi {{::item.action|historyIcons}} mdi-24px"></i>
                            <div layout="column">
                                <div ng-repeat="message in ::item.messages track by $index">
                                    <h4 class="md-subhead">{{::message.message}}</h4>
                                </div>
                                <div ng-if="item.candidateId" class="link color-indigo"
                                     ui-sref="candidate({id:item.candidateId})">Open
                                </div>
                                <div ng-if="item.positionId" class="link color-indigo"
                                     ui-sref="position({id:item.positionId})">Open
                                </div>
                            </div>
                        </div>
                    </div>
                    <md-divider></md-divider>
                </div>
            </div>
        </div>
        <h1 class="md-title" ng-if="!history.length">No changes were detected</h1>
    </div>
</div>