<!DOCTYPE html>
<html lang="en" data-apiUrl="{{&apiUrl}}" data-url="{{&url}}">
<head>
    <meta charset="UTF-8">
    <title>Interviewer</title>
    <base href="/">
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico"/>
    <!--VENDORS STYLES-->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="bower_components/mdi/css/materialdesignicons.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Montserrat:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300" rel="stylesheet">

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/signalr/jquery.signalR.js"></script>
    <script src={{&signalrHubs}}></script>
    <!--APP STYLES-->
    <link rel="stylesheet" href="stylesInterviewer.css">

    <!--ADDPOSITION STYLES-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<body ng-app="app" ng-controller="AppController">
<div class="site-wrapper">
    <div ng-include="'header/header.html'" ng-if="isAuthorized()"></div>
    <ui-view></ui-view>
    <div class="footer-wrapper" ng-include="'footer/footer.html'" ng-if="isAuthorized()"></div>
</div>

<!--LIBRARY SCRIPTS-->

<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="common/utils.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/ngInfiniteScroll/build/ng-infinite-scroll.min.js"></script>

<script src="bundle.js"></script>

</body>
</html>