.mrgn-top-small {
  margin-top: 5px; }

.mrgn-top {
  margin-top: 20px;
  margin-bottom: 10px; }

.separator-text {
  margin: 0;
  font-size: 30px; }

.mrgn-skills-text {
  margin-bottom: 10px; }

.skills-text {
  font-size: 18px; }

.eng-text {
  margin-left: 20px;
  margin-top: 20px; }

.mrgn-left-div {
  margin-left: 20px; }

.skills-select {
  width: 160px; }

.skills-select-city {
  margin-top: 0;
  width: 160px; }

.select-container {
  min-height: 54px; }

.lang-select {
  width: 64px; }

.skills-select-rating {
  width: 80px; }

.skills-select-year {
  width: 120px; }

.skills-select-exp {
  width: 120px; }

.mrgn-zero {
  margin: 0;
  padding: 0; }

.mrgn-zero-in-row {
  margin: 0 20px 0 0;
  padding: 0; }

.mrgn-time-picker {
  margin: 1px 20px 0 0; }

.big-row {
  margin-right: 50px; }

.mrgn-bot {
  margin-bottom: 20px; }

.md-button.operation-button {
  min-width: 0;
  min-height: 0;
  padding: 0;
  width: 50px;
  margin: 4px 0 4px 0;
  background-color: #15445b; }

.md-button.submit-button {
  background-color: #15445b;
  font-size: 20px;
  color: white; }

.error-text {
  color: #e53935;
  font-size: 18px; }

.warning-text {
  color: #15445b;
  font-size: 18px; }

.md-button.md-focused {
  background-color: #129BDE; }

.buttons-text {
  margin-bottom: 2px; }

.mrgn-top-mid {
  margin-top: 13px; }

.fixed-height {
  height: 26px; }

.path-container {
  background-color: lightgray; }

.button-container {
  background-color: white; }

input {
  text-overflow: ellipsis; }

.file_upload {
  position: relative;
  overflow: hidden;
  width: 190px; }

.file-text {
  text-overflow: ellipsis; }

.file_upload > md-button {
  float: right;
  width: 2em;
  height: 100%; }

.file_upload > div {
  padding-left: 1em; }

.file_upload input[type=file] {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(20);
  letter-spacing: 10em;
  /* IE 9 fix */
  -ms-transform: scale(20);
  /* IE 9 fix */
  opacity: 0;
  cursor: pointer; }

li.ul-no-points {
  display: inline; }

.mrgn-zero-in-row.mrgn-zero-in-row-small {
  margin-right: 10px; }

.search-candidates {
  border-radius: 5px;
  margin-right: 5px;
  border: hidden; }

.search-candidates:focus {
  outline: none; }

.quickSearch-wrapper {
  min-height: 100px;
  width: 100%; }

.quickSearch-button {
  max-width: 50%; }

.quick-search-input {
  margin: 0;
  max-height: 30px;
  width: 100%; }

@font-face {
  font-family: "FiraLight";
  src: url(../fonts/FiraSans-Light.ttf); }

body {
  font-family: "FiraLight"; }

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

.footer {
  border-top: solid #b1b1b1 1px;
  height: 59px;
  padding-left: 13%;
  padding-right: 13%;
  position: relative;
  opacity: 0.99;
  z-index: 0;
  background: linear-gradient(to top, #ffffff, #e2e2e2); }

.footer-container {
  margin-top: 12px; }

.footer-ul {
  padding-left: 0; }

.footer-li {
  display: inline; }

.header {
  background: linear-gradient(to top, #ffffff, #f3f3f3);
  box-shadow: 0px 1px 2px rgba(100, 100, 100, 0.5);
  z-index: 10;
  width: 100%;
  position: relative; }

.logo-wrapper img {
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 40px; }

.logo-mobile-wrapper img {
  height: 27px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 40px; }

.menu-button {
  display: inline;
  cursor: pointer;
  font-size: 17px; }

.menu-button-active {
  color: #e53935; }

.toolbar-color {
  color: #585858; }

.toolbar i:hover {
  color: #454242;
  cursor: pointer; }

.toolbar-text-item {
  height: 100%;
  padding-right: 10px;
  padding-left: 10px; }

.toolbar-active {
  color: #e53935; }

.container-content {
  margin-left: 15%;
  margin-right: 15%; }

.userPanel img:hover {
  opacity: 0.7;
  transition: all .6s ease; }

.history-wrapper {
  min-height: 50%; }

.list-wrapper {
  width: 100%; }

.interview-dialog {
  min-width: 50%; }

.interview-wrapper {
  margin: 0 auto;
  width: 90%; }

.interview-container {
  max-height: 100%; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none; }

::selection {
  background: #444B51;
  color: #fff; }

input[type="email"], input[type="password"] {
  display: block;
  height: 35px;
  width: 100%;
  margin-bottom: 7px;
  padding: 5px;
  border-radius: 2px;
  border: none;
  background-color: rgba(255, 255, 255, 0.4);
  font-size: 0.9rem;
  color: #444B51;
  transition: background-color 300ms ease-out; }

input[type="email"]:focus, input[type="password"]:focus {
  background-color: rgba(255, 255, 255, 0.8); }

.login-form {
  margin: 150px auto 0 auto;
  width: 300px;
  padding: 10px; }

.login-form .input {
  position: relative; }

.login-form span {
  font-size: 1.7rem; }

.login-form .button {
  border-radius: 2px;
  display: block;
  width: 40%;
  margin: 0 auto;
  margin-top: 5px;
  padding: 7px 13px;
  border: none;
  background-color: #40af6d;
  font-size: 1rem;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 300ms ease-out; }

.login-form .button:hover {
  color: #ffffff;
  border: solid 1px white;
  background-color: rgba(255, 255, 255, 0); }

.logo {
  width: 25%;
  height: 100%; }

.logo-mobile {
  width: 50%;
  height: 100%; }

.logo-mobile img {
  width: 100%;
  height: 100%; }

.logo img {
  width: 100%;
  height: 100%; }

.slide-first {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  background-image: url(../img/managers.jpg); }

.slide-first-mobile {
  background-image: url(../img/managers.jpg); }

.email {
  width: 100%;
  background-color: rgba(255, 255, 255, 0); }

.password {
  width: 100%;
  background-color: rgba(255, 255, 255, 0); }

.login {
  margin-top: 15%;
  height: 10%;
  width: 40%; }

.margin-small {
  margin: 5px; }

.margin-mid {
  margin: 10px; }

.width {
  width: 100%; }

.relative {
  position: relative; }

.cursor {
  cursor: pointer; }

.tree-content-container {
  position: fixed;
  z-index: 10000; }

.skills-scroll-div {
  overflow: scroll;
  overflow-x: hidden;
  max-height: 300px;
  min-width: 200px;
  width: auto;
  cursor: pointer;
  background-color: white; }

.content-overlap {
  position: absolute;
  z-index: 10000;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  min-width: 200px; }

.fixed-height {
  height: 26px; }

.md-button.path-button {
  margin: 0;
  padding: 0;
  min-width: 0;
  text-overflow: ellipsis;
  width: 50px; }

.path-container {
  background-color: lightgray; }

.button-container {
  background-color: white; }

.mrgn-zero {
  margin: 0;
  padding: 0; }

.tree-backdrop {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  cursor: default;
  width: 100%; }

.md-button.select-button {
  margin: 0;
  padding: 0 10px 0 10px;
  text-align: left;
  width: 100%; }

.md-button.deep-button {
  margin: 0;
  padding: 0;
  min-width: 30px;
  width: auto; }

/*multiselect*/
.chosen-button {
  background-color: mediumseagreen; }

md-checkbox.zero-dist {
  margin: 0;
  padding: 0; }

.candidate-card:hover {
  transition: 0.5s;
  transform: translateY(-5px); }

* {
  margin: 0;
  padding: 0; }

body, html {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  cursor: default; }

a {
  text-decoration: none; }

@media screen {
  .wrapper-content {
    margin: 10px auto;
    max-width: 75%; }
  .wrapper {
    max-width: 75%;
    margin: 0 auto; } }

@media only screen and (max-device-width: 480px) {
  .wrapper-content {
    margin: 10px auto;
    max-width: 95%; }
  .wrapper {
    max-width: 95%;
    margin: 0 auto; } }

.site-wrapper {
  min-height: 100%;
  padding-bottom: 60px;
  position: relative; }

.footer-wrapper {
  height: 60px;
  position: absolute;
  width: 100%;
  bottom: 0; }

.chip {
  background-color: #15445b; }

.background {
  background-color: #9E9E9E; }

.container-main {
  background-color: #ffffff; }

.status-btn {
  max-height: 15px; }

.badge {
  margin: 5px;
  padding: 4px;
  -webkit-user-select: none;
  cursor: default; }

.open {
  outline: none;
  cursor: pointer; }

a {
  color: #9E9E9E; }

a:hover {
  color: #CFD8DC; }

.open:hover {
  color: #e53935; }

.link {
  text-decoration: underline;
  cursor: pointer;
  border-style: none;
  outline: none; }

.spinner {
  margin: 0 auto; }

.spinner-center {
  min-height: 500px; }

.selector {
  margin: 5px 0 5px 0; }

hr {
  border: 0;
  clear: both;
  display: block;
  background-color: #e53935;
  height: 1px; }

.underline {
  text-decoration: underline; }

.card-content {
  margin-left: 16px; }

.right-margin {
  margin-right: 8px; }

.top-margin {
  margin-top: 8px; }

.opacity-icons {
  opacity: 0.5;
  cursor: pointer;
  outline: none; }

.opacity-icons:hover {
  opacity: 1; }

.opacity-icons:focus {
  outline: none;
  border: 0; }

/* Colors */
.time-place-color {
  color: #616161; }

.color-red {
  color: #e53935; }

.bg-red {
  background-color: #e53935; }

.color-indigo {
  color: #15445b; }

.bg-indigo {
  background-color: #15445b; }

.color-green {
  color: #4CAF50; }

.bg-green {
  background-color: #4CAF50; }

.color-white {
  color: #ffffff; }

.bg-white {
  background-color: #ffffff; }

.color-grey {
  color: #9E9E9E; }

.bg-grey {
  background-color: #9E9E9E; }

.color-grey-50 {
  color: #CFD8DC; }

.bg-grey-50 {
  background-color: #CFD8DC; }

.color-grey-700 {
  color: #616161; }

.bg-grey-700 {
  background-color: #616161; }

.color-grey-900 {
  color: #333333; }

.bg-grey-900 {
  background-color: #333333; }

.color-yellow {
  color: #FFEB3B; }

.bg-yellow {
  background-color: #FFEB3B; }

.word-wrap {
  word-wrap: break-word; }

.vladloh {
  position: fixed; }

.capitalize {
  text-transform: capitalize; }

.read {
  background-color: #fff; }

.unread {
  background-color: #FFF9C4; }

.position-card:hover {
  transition: 0.5s;
  transform: translateY(-5px); }

.position-subheads b {
  color: #15445b; }
