.width {
    width: 100%;
}

.relative {
    position: relative;
}

.cursor {
    cursor: pointer;
}

.tree-content-container {
    position: fixed;
    z-index: 10000;
}

.skills-scroll-div {
    overflow: scroll;
    overflow-x: hidden;
    max-height: 300px;
    min-width: 200px;
    width: auto;
    cursor: pointer;
    background-color: white;
}

.content-overlap {
    position: absolute;
    z-index: 10000;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2),
                0 1px 1px 0 rgba(0, 0, 0, 0.14),
                0 2px 1px -1px rgba(0, 0, 0, 0.12);
    min-width: 200px;
}

.fixed-height {
    height: 26px;
}

.md-button.path-button {
    margin: 0;
    padding: 0;
    min-width: 0;
    text-overflow: ellipsis;
    width: 50px;
}

.path-container {
    background-color: lightgray;
}

.button-container {
    background-color: white;
}

.mrgn-zero {
    margin: 0;
    padding: 0;
}

.tree-backdrop {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    cursor: default;
    width: 100%;
}

.md-button.select-button {
    margin: 0;
    padding: 0 10px 0 10px;
    text-align: left;
    width: 100%
}

.md-button.deep-button {
    margin: 0;
    padding: 0;
    min-width: 30px;
    width: auto;
}

/*multiselect*/

.chosen-button {
    background-color: mediumseagreen;
}

md-checkbox.zero-dist {
    margin: 0;
    padding: 0;
}