<div>
    <div class="relative" ng-click="openTree($event)">
        <md-input-container ng-if="mdNoFloat" class="mrgn-zero fixed-height width" md-no-float>
            <input class="cursor" readonly="readonly" ng-required="required" ng-model="chosenSkillName" aria-label="skillname" placeholder="Skill">
        </md-input-container>

        <md-input-container ng-if="!mdNoFloat" class="mrgn-zero fixed-height width">
            <input class="cursor" readonly="readonly" ng-required="required" ng-model="chosenSkillName" aria-label="skillname" placeholder="Skill">
        </md-input-container>
    </div>
</div>

<script type="text/ng-template" id="templateTree">
    <div class="tree-content-container">
        <div class="content-overlap">
            <div class="path-container" layout="row">
                <div class="button-container">
                    <md-button class="path-button" ng-repeat="root in ac.path track by $index"
                               ng-click="returnToBranch(root, $index, ac)" aria-label="path">
                        {{root.name}}
                    </md-button>
                </div>
            </div>
            <div>
                <div class="skills-scroll-div">
                    <div layout="row" ng-repeat="node in ac.path.top().children">
                        <md-button ng-if="node.children" ng-click="goToBranch(node, ac)" class="deep-button"
                                   aria-label="deep">
                            <i class="mdi mdi-play arrow mdi-24px"></i>
                        </md-button>
                        <md-button ng-class="['select-button', {'chosen-button': node.chosen}]"
                                   ng-click="selectSkill(node)" aria-label="select">
                            {{node.name}}
                        </md-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="templateMultiTree">
    <div class="tree-content-container">
        <div class="content-overlap">
            <div class="path-container" layout="row">
                <div class="button-container">
                    <md-button class="path-button" ng-repeat="root in ac.path track by $index"
                               ng-click="returnToBranch(root, $index, ac)" aria-label="path">
                        {{root.name}}
                    </md-button>
                </div>
            </div>
            <div>
                <div class="skills-scroll-div">
                    <div layout="row" ng-repeat="node in ac.path.top().children">
                        <md-button ng-if="node.children" ng-click="goToBranch(node, ac)" class="deep-button"
                                   aria-label="deep">
                            <i class="mdi mdi-play arrow mdi-24px"></i>
                        </md-button>
                        <md-button ng-disabled="node.disabled" class="select-button" ng-click="pressNode(node)"
                                   aria-label="select">
                            <div layout="row" layout-align="space-between center">
                                <div>{{node.name}}</div>
                                <md-checkbox ng-checked="node.chosen.value" ng-disabled="node.disabled"
                                             md-indeterminate="!!node.indeterminate" class="md-primary zero-dist"
                                             aria-label="check"></md-checkbox>
                            </div>
                        </md-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="templateBackDrop">
    <div class="tree-backdrop" ng-click="closeTree()"></div>
</script>