<md-toast style="position: fixed">
    <span class="md-toast-text" flex>Notification!</span>
    <md-button class="md-highlight" ng-click="openMoreInfo()">
        Open
    </md-button>
    <md-button ng-click="closeToast()">
        Close
    </md-button>
</md-toast>