<div ng-controller="HeaderController as header">
    <div class="header">
        <div class="wrapper" layout="row" layout-align="space-between center">
            <div layout="row" layout-align="start center">
                <div class="logo-wrapper link" ui-sref="candidates" hide-xs>
                    <img src="header/logo.png">
                </div>

                <div class="logo-mobile-wrapper link" ui-sref="candidates" hide-gt-xs>
                    <img src="header/logo.png">
                </div>

                <div class="toolbar-text" layout="row" layout-align="center center" hide-xs>
                    <div class="toolbar-text-item">
                        <li ng-if="header.getAccess()!=='tech'" class="menu-button" ui-sref='positions'
                            ui-sref-active="menu-button-active">
                            <b>Positions</b>
                        </li>
                    </div>
                    <div class="toolbar-text-item">
                        <li ng-if="header.getAccess()!=='tech'" class="menu-button" ui-sref='candidates'
                            ui-sref-active="menu-button-active">
                            <b>Candidates</b>
                        </li>
                    </div>
                </div>
            </div>
            <div class="toolbar" hide-xs layout="row">
                <div>
                    <i ng-if="header.getAccess()==='admin'"
                       class="mdi mdi-settings mdi-24px toolbar-color"
                       ui-sref='dashboard' ui-sref-active="toolbar-active"></i>
                    <md-tooltip>Admin dashboard</md-tooltip>
                </div>
                <div>
                    <i class="mdi mdi-bell mdi-24px toolbar-color" ui-sref='notifications'
                       ui-sref-active="toolbar-active"></i>
                    <md-tooltip>Notifications</md-tooltip>
                </div>
                <div>
                    <i ng-if="header.getAccess()!='tech'"
                       class="mdi mdi-account-plus mdi-24px toolbar-color"
                       ui-sref='add-candidate' ui-sref-active="toolbar-active"></i>
                    <md-tooltip>Add candidate</md-tooltip>
                </div>
                <div>
                    <i ng-if="header.getAccess()!='tech'"
                       class="mdi mdi-note-plus mdi-24px toolbar-color"
                       ui-sref='add-position' ui-sref-active="toolbar-active"></i>
                    <md-tooltip>Add position</md-tooltip>
                </div>
                <div>
                    <i class="mdi mdi-exit-to-app mdi-24px toolbar-color" ng-click="header.logOut()"
                       ui-sref-active="toolbar-active"></i>
                    <md-tooltip>Logout</md-tooltip>
                </div>
            </div>

            <div ng-controller="MobileMenuController as menu" hide-gt-xs>
                <i title="Menu"
                   class="mdi mdi-menu mdi-24px toolbar-color"
                   ui-sref-active="toolbar-active" ng-click="menu.toggleRight()" md-swipe-right="menu.toggleRight()"
                   ng-hide="menu.isOpenRight()"></i>
            </div>
        </div>
    </div>
    <div ng-controller="MobileMenuController as menu" hide-gt-xs>
        <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Menu</h2>
                </div>
            </md-toolbar>
            <br>
            <div class="toolbar" layout="column" layout-padding>
                <div layout="row" layout-align="start center" ng-if="header.getAccess()!='tech'" ui-sref='candidates'
                     ng-click="menu.closeMenu()">
                    <i class="mdi mdi-account-card-details mdi-24px toolbar-color"></i>
                    <span class="md-title" layout-padding>Candidates</span>
                </div>
                <div layout="row" layout-align="start center" ng-if="header.getAccess()!='tech'" ui-sref='positions'
                     ng-click="menu.closeMenu()">
                    <i class="mdi mdi-briefcase mdi-24px toolbar-color"></i>
                    <span class="md-title" layout-padding>Positions</span>
                </div>
                <div layout="row" layout-align="start center" ng-if="header.getAccess()==='admin'" ui-sref='dashboard'
                     ng-click="menu.closeMenu()">
                    <i class="mdi mdi-settings mdi-24px toolbar-color"></i>
                    <span class="md-title" layout-padding>Admin dashboard</span>
                </div>
                <div layout="row" layout-align="start center" ui-sref='notifications' ng-click="menu.closeMenu()">
                    <i class="mdi mdi-bell mdi-24px toolbar-color" title="Notifications"></i>
                    <span class="md-title" layout-padding>Notifications</span>
                </div>
                <div layout="row" layout-align="start center" ng-if="header.getAccess()!='tech'" ui-sref='add-candidate'
                     ng-click="menu.closeMenu()">
                    <i class="mdi mdi-account-plus mdi-24px toolbar-color"></i>
                    <span class="md-title" layout-padding>Add candidate</span>
                </div>
                <div layout="row" layout-align="start center" ng-if="header.getAccess()!='tech'" ui-sref='add-position'
                     ng-click="menu.closeMenu()">
                    <i title="Add position" class="mdi mdi-note-plus mdi-24px toolbar-color"></i>
                    <span class="md-title" layout-padding>Add position</span>
                </div>
                <div layout="row" layout-align="start center" ng-click="header.logOut()">
                    <i class="mdi mdi-exit-to-app mdi-24px toolbar-color" title="Logout"></i>
                    <span class="md-title" layout-padding>Logout</span>
                </div>
            </div>
        </md-sidenav>
    </div>
</div>

