.header {
  background: linear-gradient(to top, #ffffff, #f3f3f3);
  box-shadow: 0px 1px 2px rgba(100, 100, 100, 0.5);
  z-index: 10;
  width: 100%;
  position: relative;
}

.logo-wrapper img{
   height: 30px;
   margin-top: 10px;
   margin-bottom: 10px;
   margin-right: 40px;
}

.logo-mobile-wrapper img{
  height: 27px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 40px;
}

.menu-button {
  display: inline;
  cursor: pointer;
  font-size: 17px;
}

.menu-button-active{
  color: #e53935;
}

.toolbar-color {
  color: #585858; }

.toolbar i:hover {
  color: #454242;
  cursor: pointer;
 }

.toolbar-text-item{
  height: 100%;
  padding-right: 10px;
  padding-left: 10px;
}

.toolbar-active {
  color: #e53935;
}

.container-content {
  margin-left: 15%;
  margin-right: 15%; }

.userPanel img:hover {
  opacity: 0.7;
  transition: all .6s ease; }