<md-dialog aria-label="History" class="history-wrapper" flex="50" flex-xs="90">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>History</h2>
        </div>
    </md-toolbar>
    <div layout="column" layout-align="none center">
        <ul ng-if="history.length" class="list-wrapper">
            <div infinite-scroll="loadMore()" infinite-scroll-distance="3" infinite-scroll-disabled="!showMore">
                <li ng-repeat="item in history track by $index">
                    <div class="md-list-item-text" layout="column" layout-margin>
                        <div layout="row" layout-align="space-between center">
                            <div layout-wrap><p class="md-title word-wrap"><b>{{::item.employee }}</b></p></div>
                            <h6 class="md-title"> {{::item.date|date }}</h6>
                        </div>
                        <div layout="row">
                            <i class="mdi {{::item.action|historyIcons}} mdi-24px"></i>
                            <div layout="column">
                                <div ng-repeat="message in ::item.messages track by $index"><h4 class="md-title">
                                    {{ message.message }}</h4></div>
                                {{item.message}}
                            </div>
                        </div>
                    </div>
                    <md-divider></md-divider>
                </li>
            </div>
        </ul>
        <h1 class="md-title" ng-if="!history.length">No changes were detected</h1>
    </div>
</md-dialog>