<div layout="column" ng-class="{'read':notification.isRead, 'unread':!notification.isRead}"
     ng-mouseover="changeStatus(notification)">
    <div layout="row" layout-align="start center">
        <div flex="10" flex-xs="25" layout="column" layout-align="start center">
            <i class="mdi {{notification.type|notifyIcons}} mdi-48px">
                <md-tooltip class="capitalize" md-direction="left">{{notification.type}}</md-tooltip>
            </i>
        </div>
        <div flex="80" flex-xs="65" layout="column">
            <div>
                <h1 class="md-title">
                    {{notification.title}}</h1>
            </div>
            <div layout="row" layout-align="start center">
                <div class="right-margin">{{notification.createdAt|date}}</div>
                <div class="open color-red" ng-click="openNotification()">
                    Open
                </div>
            </div>
        </div>
    </div>
</div>
<md-divider></md-divider>