<div class="wrapper-content" layout="column">
    <div layout="row" layout-align="space-between center">
        <div class="open color-red" layout="row" layout-align="center center" ng-click="goBack()">
            <i class="mdi mdi-arrow-left mdi-24px"></i>
            <h1 class="md-headline">back to Candidates</h1>
        </div>
        <div class="color-grey link" layout="row" layout-align="center center" ng-click="addCandidate()">
            <div layout="row" layout-align="center center">
                <span>add new</span>
                <i class="mdi mdi-plus mdi-16px"></i></div>
            <md-tooltip>Add new candidate</md-tooltip>
        </div>
    </div>
    <hr>
    <div layout="column">
        <div layout="column" ng-show="!isLoading">
            <div layout="row" layout-align="end center">
                <div layout="row" layout-align="none start">
                    <div layout="row">
                        <i class="mdi mdi-lead-pencil mdi-24px opacity-icons"
                           ng-click="editCandidate(candidate.id)"></i>
                        <md-tooltip>Edit</md-tooltip>
                    </div>
                    <div>
                        <i class="mdi mdi-history mdi-24px opacity-icons" ng-click="getHistory(candidate.id)"></i>
                        <md-tooltip>History</md-tooltip>
                    </div>

                </div>
            </div>
            <div layout="row" layout-align="start center">
                <div layout="row">
                    <h2 class="md-headline right-margin color-indigo"><b>{{candidate.nameEng}}
                        {{candidate.surnameEng}}/{{candidate.nameRus}} {{candidate.patronymicRus}}
                        {{candidate.surnameRus}}
                    </b>
                    </h2>
                    <div layout="row" layout-align="none center">
                        <i class="mdi {{candidate.status.name|iconFilter}} mdi-24px"></i>
                        <div class="md-subhead">{{candidate.status.name}}</div>
                    </div>
                </div>
            </div>
            <br>
            <div layout="column" class="md-body-2" layout-align="space-between none">
                <h1 class="md-headline color-indigo">Personal Information: </h1>
                <div ng-if="candidate.city.name">
                    <b>City: </b> {{::candidate.city.name}}
                </div>
                <div ng-if="candidate.salary">
                    <b>Wishes for wages: </b>{{::candidate.salary|currency}}
                </div>
                <span>
            <b>Resume: </b> <a class="link" ng-click="getResume(candidate.id)">Download</a>
        </span>
            </div>
            <br>
            <div layout="column" class="md-body-2" layout-align="space-between none">
                <h1 class="md-headline color-indigo">Skills: </h1>
                <div layout="row" ng-if="candidate.profession">
                    <div flex="15" flex-md="25" flex-sm="25" flex-xs="50">
                        <b>Profession:</b>
                    </div>
                    <div flex="20" flex-md="70" flex-sm="70" flex-xs="70">{{::candidate.profession.name}}</div>
                </div>
                <div layout="row" ng-if="candidate.experience">
                    <div flex="15" flex-md="25" flex-sm="25" flex-xs="50">
                        <b>Experience: </b>
                    </div>
                    <div flex="20" flex-md="70" flex-sm="70" flex-xs="70">{{::candidate.experience}} year(s)</div>
                </div>
                <div layout="row" layout-md="column" layout-sm="column" layout-xs="column">
                    <div flex="15" flex-md="100" flex-sm="100" flex-xs="100">
                        <b>Primary skill:</b>
                    </div>
                    <div layout="row" layout-align-xs="space-between center" flex="100"
                         ng-repeat="skill in ::candidate.skills |filter:{isPrimary:true}">
                        <div flex="25" flex-xs="25" layout-wrap layout-fill class="word-wrap">{{::skill.name}}</div>
                        <div flex="25" flex-xs hide-xs>
                            <stars count="skill.rating"></stars>
                        </div>
                        <div flex="10" flex-xs="5" hide-gt-xs>
                            {{::skill.rating}}
                        </div>
                        <div ng-if="skill.lastUsage" flex="15" flex-sm="20" flex-md="25" flex-xs="25">
                            Last usage: {{::skill.lastUsage}}
                        </div>
                        <div ng-if="skill.experience" flex="15" flex-sm="25" flex-md="25" flex-xs="25">
                            Exp: >{{::skill.experience}} year(s)
                        </div>
                        <div flex-xs="5" layout="row" ng-if="::skill.wasConfirmed">
                            <div hide-xs>Confirmed</div>
                            <i class="mdi mdi-check mdi-24px"></i>
                        </div>
                    </div>
                </div>
                <div layout="row" layout-md="column" layout-sm="column" layout-xs="column"
                     ng-if="candidate.skills.length !== 1">
                    <div flex="15" flex-md="100" flex-sm="100" flex-xs="100">
                        <b>Additional skills: </b>
                    </div>
                    <div layout="column" flex="100">
                        <div layout="row" layout-align-xs="space-between center" flex="100"
                             ng-repeat="skill in ::candidate.skills |filter:{isPrimary:false}">
                            <div flex="25" flex-xs="25" layout-wrap layout-fill class="word-wrap">{{::skill.name}}</div>
                            <div flex="25" flex-xs hide-xs>
                                <stars count="skill.rating"></stars>
                            </div>
                            <div flex="10" flex-xs="5" hide-gt-xs>
                                {{::skill.rating}}
                            </div>
                            <div ng-if="skill.lastUsage" flex="15" flex-sm="20" flex-md="25" flex-xs="25">
                                Last usage: {{::skill.lastUsage}}
                            </div>
                            <div ng-if="skill.experience" flex="15" flex-sm="25" flex-md="25" flex-xs="25">
                                Exp: >{{::skill.experience}} year(s)
                            </div>
                            <div flex-xs="5" layout="row" ng-if="::skill.wasConfirmed">
                                <div hide-xs>Confirmed</div>
                                <i class="mdi mdi-check mdi-24px"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div layout="row" ng-if="candidate.englishLevel">
                    <div flex="15" flex-sm="25" flex-md="25" flex-xs="30">
                        <b>English level: </b>
                    </div>
                    <div flex="100">{{::candidate.englishLevel|englishLevel}}</div>
                </div>
            </div>
            <br>
            <div layout="column" class="md-body-2" layout-align="space-between none">
                <h1 class="md-headline color-indigo">Contacts:</h1>
                <div>
                    <b>Email: </b><span
                        ng-repeat="email in candidate.email|filter:{isPrimary:true}"> {{::email.email}}</span>
                </div>
                <div ng-if="candidate.email.length>1">
                    <b>Extra emails: </b><span
                        ng-repeat="email in candidate.email |filter:{isPrimary:false}"> {{::email.email}}</span>
                </div>
                <div ng-if="candidate.linkedIn">
                    <span><b>LinkedIn: </b><a href="http://{{::candidate.linkedIn}}" class="link">link</a></span>
                </div>
                <div ng-if="candidate.skypeId">
                    <span><b>Skype ID: </b>{{::candidate.skypeId}}</span>
                </div>
                <div ng-if="candidate.phoneNumber">
                    <span><b>Phone number: </b>{{::candidate.phoneNumber}}</span>
                </div>
            </div>
            <br>
            <div layout="column" class="md-body-2 color-indigo">
                <div ng-if="candidate.lastContact">
                    <span><b>Last contact: </b>{{::candidate.lastContact|date}}</span>
                </div>
                <div ng-if="candidate.hr">
            <span>
                <b>HR: </b>{{::candidate.hr}}
            </span>
                </div>
                <div ng-if="candidate.nextContact">
            <span>
                <b>Date to contact: </b> {{::candidate.nextContact|date}}
            </span>
                </div>
            </div>
        </div>
        <div layout-align="center center" ng-if="isLoading" layout="column" class="spinner-center">
            <md-progress-circular md-mode="indeterminate" value="{{isLoading}}" md-diameter="60"
                                  ng-cloak></md-progress-circular>
        </div>
    </div>
    <br>
    <hr>
    <div layout="row" layout-align="start center">
        <h1 class="md-headline color-red">Interviews</h1>
        <div>
            <i class="mdi mdi-plus mdi-24px link color-grey-700" ng-click="addInterview()"></i>
            <md-tooltip>Add interview</md-tooltip>
        </div>
    </div>
    <div layout="column" class="md-body-2">
        <div layout="row" layout-align="space-between center"
             ng-repeat="interview in candidate.interviews|limitTo:limit">
            <div flex="33" layout="row" layout-align="start center" layout-wrap class="link word-wrap"
                 ng-click="getInterview(interview.id)">
                <span>{{::interview.header}}</span>
            </div>
            <div flex="33" layout="row" layout-align="center center" layout-wrap>
                <span>{{::interview.status}}</span>
            </div>
            <div flex="33" layout="row" layout-align="end center" layout-wrap>
                <span>{{::interview.date|date}}</span>
            </div>
        </div>
        <div class="md-body-1  color-red">
            <div class="link" ng-if="candidate.interviews.length>3&&limit!== candidate.interviews.length"
                 ng-click="getMoreInterviews()">
                Get more
            </div>
        </div>
        <div ng-if="!candidate.interviews.length" class="md-body-1">No interviews were found</div>
    </div>
</div>