<div layout="row" layout-align="center" class="wrapper-content">
    <form ng-submit="addposition.addPosition(addposition.position)" name="positionForm" flex-gt-xs="60" flex-xs="100">
        <div layout="column">
            
            <div layout="row" layout-align="space-between center">
                <div class="md-display-1 color-red">
                    <span flex-offset="13">Add position</span>
                </div>
            </div>
            <hr>
            
            <md-card>
                <div class="mrgn-left-div">
                    
                    <div class="mrgn-top">
                        <span class="separator-text">Base information:</span>
                    </div>
                    
                    <div class="mrgn-bot" layout-gt-sm="column">
                        
                        <div layout="column">
                            <md-input-container class="mrgn-zero-in-row">
                                <label>Header</label>
                                <input required ng-model="addposition.position.header" name="header" max-length="200">
                                <div ng-messages="positionForm.header.$error">
                                    <div ng-message="required">This field is required</div>
                                    <div ng-message="maxLength">Must be less than 200 symbols</div>
                                </div>
                            </md-input-container>
                            <div layout="column">
                                <md-input-container class="mrgn-zero-in-row mrgn-bot">
                                    <label>Project</label>
                                    <md-select required ng-model="addposition.position.project.id" name="project">
                                        <md-option ng-repeat="project in addposition.projectsList track by project.id" ng-value="project.id">
                                            {{project.name}}
                                        </md-option>
                                    </md-select>
                                    <div ng-messages="positionForm.project.$error">
                                        <div ng-message="required">This field is required</div>
                                    </div>
                                </md-input-container>
                                
                                <div layout-gt-sm="row" layout-gt-xs="row" layout-xs="column">
                                    <md-input-container class="select-container mrgn-zero-in-row" flex-gt-xs="50">
                                        <label>City</label>
                                        <md-select ng-model="addposition.position.city.id">
                                            <md-option ng-repeat="city in addposition.citiesList track by city.id" ng-value="city.id">
                                                {{city.name}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                    
                                    
                                    <md-input-container class="select-container mrgn-zero-in-row" flex-gt-xs="50">
                                        <label>Status</label>
                                        <md-select ng-model="addposition.position.status.id">
                                            <md-option ng-repeat="status in addposition.statusesList track by status.id" ng-value="status.id">
                                                {{status.name}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                            </div>
                            
                            <md-input-container class="mrgn-zero-in-row">
                                <label>Description</label>
                                <textarea required ng-model="addposition.position.description" rows="3" name="description" max-length="1000"></textarea>
                                <div ng-messages="positionForm.description.$error">
                                    <div ng-message="required">This field is required</div>
                                    <div ng-message="maxLength">Must be less than 1000 symbols</div>
                                </div>
                            </md-input-container>
                        
                        </div>
                        
                        
                        <div layout-gt-sm="row" layout-sm="column">
                            <div class="mrgn-zero-in-row">
                                <md-datepicker ng-required="false" ng-model="addposition.position.requestDate" md-placeholder="Date of request" md-open-on-focus=""></md-datepicker>
                            </div>
                            
                            <div class="mrgn-zero-in-row">
                                <md-datepicker ng-required="false" ng-model="addposition.position.projectDate" md-placeholder="Project starts" md-open-on-focus></md-datepicker>
                            </div>
                        </div>
                    
                    </div>
                </div>
            </md-card>
            
            <md-card>
                <div class="mrgn-left-div">
                    <div class="mrgn-top">
                        <span class="separator-text">Skills requirements:</span>
                    </div>
                    
                    <div class="mrgn-bot" layout="column">
                        
                        <div layout="row">
                            <md-input-container class="select-container mrgn-zero-in-row" flex-gt-xs="25" flex-xs="50">
                                <label>Profession</label>
                                <md-select required ng-model="addposition.position.profession.id" name="profession">
                                    <md-option ng-repeat="prof in addposition.professionsList track by prof.id" ng-value="prof.id">
                                        {{prof.name}}
                                    </md-option>
                                </md-select>
                                <div ng-messages="positionForm.profession.$error">
                                    <div ng-message="required">This field is required</div>
                                </div>
                            </md-input-container>
                            
                            <md-input-container class="select-container mrgn-zero-in-row" flex-gt-xs="25" flex-xs="50">
                                <label>Experience</label>
                                <input ng-model="addposition.position.experience" type="number" step="0.5" min="0">
                            </md-input-container>
                        </div>
                        
                        <div layout-gt-sm="row" layout-sm="column" layout-xs="column">
                            <div class="select-container mrgn-zero-in-row" layout="column" flex-gt-sm="25" flex="100">
                                <div class="mrgn-skills-text">
                                    <span class="skills-text">Primary skill:</span>
                                </div>
                                <div class="select-container">
                                    <skills-tree skills-tree-request="addposition.skillsTreeRequest" chosen-skill="addposition.position.primarySkill"></skills-tree>
                                </div>
                            </div>
                            <div class="mrgn-zero-in-row" flex-gt-sm="75" flex="100">
                                <div class="mrgn-skills-text">
                                    <span class="skills-text">Additional skills:</span>
                                </div>
                                <div class="select-container">
                                    <skills-tree multiselect="true" skills-tree-request="addposition.skillsTreeRequest" chosen-skill="addposition.position.skills"></skills-tree>
                                </div>
                            </div>
                        </div>
                    
                    </div>
                </div>
            </md-card>
            <div ng-show="addposition.triedToSubmit && positionForm.$invalid">
                <div class="mrgn-left-div">
                    <span class="error-text">The form is invalid. Please check all fields.</span>
                </div>
            </div>
            <div ng-show="addposition.serverError">
                <div class="mrgn-left-div">
                    <span class="error-text">Server status: {{addposition.serverError.status}} - {{addposition.serverError.statusText}}: {{addposition.serverError.data.message}}</span>
                </div>
            </div>
            <div layout="row" layout-align="center center" ng-show="addposition.sendingPosition">
                <md-progress-circular md-mode="indeterminate" md-diameter="60" ng-cloak></md-progress-circular>
            </div>
            <div align="center">
                <md-button class="submit-button" type="submit">Submit</md-button>
            </div>
        
        </div>
    </form>
</div>