<div class="wrapper-content" layout="column">
    <div layout="row" layout-align="space-between center">
        <div class="color-red open" layout="row" layout-align="center center" ng-click="goBack()">
            <i class="mdi mdi-arrow-left mdi-24px"></i>
            <h1 class="md-display-1">back to Positions</h1>
        </div>
        <div class="color-grey-700 link" layout="row" layout-align="center center" ng-click="addPosition()">
            <div layout="row" layout-align="center center">
                <span>add new</span>
                <i class="mdi mdi-plus mdi-16px"></i></div>
            <md-tooltip>Ann new position</md-tooltip>
        </div>
    </div>
    <hr>
    <div layout="column">
        <div layout="column" ng-show="!isLoading">
            <div layout="row" layout-align="end center">
                <div layout="row" layout-align="none start" class="color-grey-700">
                    <div layout="row">
                        <i class="mdi mdi-lead-pencil mdi-24px opacity-icons" ng-click="editPosition(position.id)"></i>
                        <md-tooltip>Edit</md-tooltip>
                    </div>
                    <div>
                        <i class="mdi mdi-history mdi-24px opacity-icons" ng-click="getHistory(position.id)"></i>
                        <md-tooltip>History</md-tooltip>
                    </div>

                </div>
            </div>
            <div layout="row" layout-align="start center">
                <div layout="row">
                    <h2 class="md-headline right-margin color-indigo">
                        <b>{{position.header}}</b>
                    </h2>
                </div>
            </div>
            <div layout="row" class=" md-body-2 top-margin color-grey-700" layout-align="start center">
                <div layout="row" class="right-margin">
                    <i class="mdi mdi-map-marker mdi-24px"></i>
                    <div>{{position.city.name}}</div>
                </div>
                <div layout="row" class="right-margin">
                    <i class="mdi mdi-calendar-range mdi-24px"></i>
                    <div>{{position.requestDate|date}}</div>
                </div>
                <div layout="row" class="right-margin color-indigo">
                    <i class="mdi {{position.status.name|iconFilter}} mdi-24px"></i>
                    <div class="md-subhead">{{position.status.name}}</div>
                </div>
            </div>
            <br>
            <div layout="column" class="md-body-2 position-subheads">
                <div layout="row" ng-if="position.projectName">
                    <div>
                        <b>Project: </b> {{position.projectName}}
                    </div>
                </div>

                <div layout="row" ng-if="position.city">
                    <div>
                        <b>City: </b> {{position.city.name}}
                    </div>
                </div>

                <div layout="row" ng-if="position.projectDate">
                    <div>
                        <b>Date of request: </b> {{position.requestDate|date}}
                    </div>
                </div>

                <div layout="row" ng-if="position.projectDate">
                    <div>
                        <b>Date of starting Project: </b> {{position.projectDate|date}}
                    </div>
                </div>

                <div layout="row" ng-if="position.profession">
                    <div>
                        <b>Profession: </b> {{position.profession.name}}
                    </div>
                </div>

                <div layout="row" ng-if="position.experience">
                    <div>
                        <b>Experience: </b> {{position.experience}} year(s)
                    </div>
                </div>
                <br>

                <div layout="column" ng-if="position.description">
                    <div>
                        <b md-colors="{color:'primary-600'}">Description: </b>
                    </div>
                    <div layout-fill layout-wrap>{{position.description}}</div>
                </div>
            </div>
            <br>
            <div layout="row" layout-wrap>
                <div class="badge bg-green color-white">
                    {{position.profession.name}}
                </div>
                <div ng-repeat=" skill in position.skills|filter:{isPrimary:true}">
                    <div class="badge bg-red color-white md-body-2">
                        {{skill.name}}
                    </div>
                </div>
                <div ng-repeat=" skill in position.skills|filter:{isPrimary:false}">
                    <div class="badge bg-indigo color-white md-body-2">
                        {{skill.name}}
                    </div>
                </div>
            </div>
        </div>

        <div layout-align="center center" ng-if="isLoading" layout="column" class="spinner-center">
            <md-progress-circular md-mode="indeterminate" value="{{isLoading}}" md-diameter="60"
                                  ng-cloak></md-progress-circular>
        </div>
    </div>
    <br>
    <hr>
    <div class="md-body-2" layout-align="space-between none">
        <h1 class="color-red md-headline">Top 3 candidates</h1>
        <div layout="column" ng-if="topThreeCandidates.length">
            <div layout="row" layout-align="space-between center">
                <div flex="33" layout="row" layout-align="start center" layout-wrap
                     class="word-wrap md-subhead color-indigo">
                    <b>Candidate</b>
                </div>
                <div flex="33" layout="row" layout-align="center center" layout-wrap class="md-subhead color-indigo">
                    <b>Status</b>
                </div>
                <div flex="33" layout="row" layout-align="end center" layout-wrap class="md-subhead color-indigo">
                    <b>Last contact</b>
                </div>
            </div>
            <div layout="row" layout-align="space-between center"
                 ng-repeat="candidate in topThreeCandidates">
                <div flex="33" layout="row" layout-align="start center" layout-wrap class="link word-wrap"
                     ng-click="getInterview(interview.id)">
                    <span ui-sref="candidate({id:candidate.id})">{{::candidate.nameEng}} {{::candidate.surnameEng}}</span>
                </div>
                <div flex="33" layout="row" layout-align="center center" layout-wrap>
                    <span>{{::candidate.status.name}}</span>
                </div>
                <div flex="33" layout="row" layout-align="end center" layout-wrap>
                    <span>{{::candidate.lastContact|date}}</span>
                </div>
            </div>
        </div>
        <div class="md-body-1 color-red ">
            <div ng-if="topThreeCandidates.length === 3" class="link" ng-click="getCandidatesForPosition()">Get more
            </div>
        </div>
        <div ng-if="!topThreeCandidates.length&&!topLoading" class="md-body-1">No suitable candidates were found</div>
        <div layout-align="center center" ng-if="topLoading" layout="column" class="md-title">
            Searching...
        </div>
    </div>
</div>