<div class="slide-first">
    <div class="slide-first-content">
        <div layout="column" layout-align="center center ">
            <div class="logo">
                <img src="img/logo.png" hide-xs>
            </div>

            <div class="logo-mobile" hide-gt-xs>
                <img src="img/logo.png">
            </div>

            <div class="login-form" ng-controller="LoginController">
                <form method="post" ng-submit="submit(username, password)">
                    <div class="input username">
                        <input name="userEmail" class="email" ng-model="username" placeholder="Email" type="email" required>
                    </div>
                    <div class="input password">
                        <input name="userPassword" ng-model="password" placeholder="Password" type="password" required>
                    </div>
                    <div layout-align="center">
                        <input type="submit" value="Login" class="button"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>




