.logo{
    width: 25%;
    height: 100%;
}

.logo-mobile{
    width: 50%;
    height: 100%;
}

.logo-mobile img{
    width: 100%;
    height: 100%;
}

.logo img{
    width: 100%;
    height: 100%;
}

.slide-first{
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    background-image: url(../img/managers.jpg)
}

.slide-first-mobile{
    background-image: url(../img/managers.jpg)
}


.email{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.0);
}

.password{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.0);
}

.login{
    margin-top: 15%;
    height: 10%;
    width: 40%;
}

