* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

::selection {
    background: #444B51;
    color: #fff;
}

input[type="email"], input[type="password"] {
    display: block;
    height: 35px;
    width: 100%;
    margin-bottom: 7px;
    padding: 5px;
    border-radius: 2px;
    border: none;
    background-color: rgba(255, 255, 255, 0.4);
    font-size: 0.9rem;
    color: #444B51;
    transition: background-color 300ms ease-out;
}
input[type="email"]:focus, input[type="password"]:focus {
    background-color: rgba(255, 255, 255, 0.8);
}

.login-form {
    margin: 150px auto 0 auto;
    width: 300px;
    padding: 10px;
}

.login-form .input {
    position: relative;
}

.login-form span{
    font-size: 1.7rem;
}


.login-form .button {
    border-radius: 2px;
    display: block;
    width: 40%;
    margin: 0 auto;
    margin-top: 5px;
    padding: 7px 13px;
    border: none;
    background-color: rgb(64, 175, 109);
    font-size: 1rem;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 300ms ease-out;
}

.login-form .button:hover {
    color: #ffffff;
    border: solid 1px white;
    background-color: rgba(255, 255, 255, 0);
}