<md-dialog class="interview-dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Interview information</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
            </md-button>
        </div>
    </md-toolbar>
    <div class="interview-wrapper">
        <div layout="column">

            <br>
            <div class="md-display-1">
                <b><span>{{interview.header}}</span></b>
            </div>
            <br>
            <div layout="column" class="md-title" layout-align="space-between none">
                <div layout="row">
                    <div class="md-title color-red">
                        <span><b>Status: </b></span>
                    </div>
                    <div class="md-title color-red">
                        <span><b>{{ interview.status}}</b></span>
                    </div>
                </div>
                <div>
                    <b>Date of interview: </b> {{interview.date|date:'dd-MM-yyyy HH:mm'}}
                </div>

                <div layout="row">
                    <b>Candidate: </b> {{interview.candidate.nameEng}} {{interview.candidate.surnameEng}}
                </div>
                <div>
                    <b>HRM-email: </b> {{interview.hrmEmail}}
                </div>
                <div ng-if="interview.description">
                    <b>Description: </b> {{interview.description}}
                </div>
            </div>


            <div class="InterviewFB" ng-if="interview.feedbackMessage">
                <div layout="column" class="md-title" layout-align="space-between none">
                    <div>
                        <b>Interviewer-email: </b> {{interview.interviewerEmail}}
                    </div>
                    <div>
                        <b>Feedback verdict: </b> {{interview.feedbackMessage}}
                    </div>
                    <div class="word-wrap">
                        <b>Recall: </b> {{interview.feedbackText}}
                    </div>
                </div>
            </div>


            <div class="skillsHRM md-title" ng-if="interview.type === 'hrm' && interview.feedbackMessage" layout="column">
                <div>
                    <b>Job change reason:</b>  {{interview.jobChangeReason}}
                </div>
                <div>
                    <b>Ready to get started:</b>  {{interview.readyToGetStarted}}
                </div>
                <div>
                    <b>Willingness to travel:</b>  {{interview.willingnessToTravel}}
                </div>
                <div>
                    <b>Salary:</b>  {{interview.salary}}
                </div>
                <div>
                    <b>Motivation:</b> {{interview.motivation}}
                </div>

                <div>
                   <b>English level:</b> {{interview.englishLevel|englishLevel}}
                </div>
            </div>

            <div class="skillsTS" ng-if="interview.type == 'ts' && interview.feedbackMessage">
                <br>
                <br>
                <div class="md-title">
                    <b><span>Skills marks: </span></b>
                </div>
                <br>
                <div layout="column" class="md-title">
                    <div>
                        <b>Primary skill:</b>
                    </div>

                    <div ng-repeat="skill in ::interview.skills |filter:{isPrimary:true}">
                        <div>
                            <md-input-container layout="row">
                                <div flex="30"> {{skill.skillName + ": "}} </div>
                                <div flex="20" ><div hide-xs>{{skill.defultRating}}</div></div>
                                <div flex="20">
                                    <b>{{skill.confRating}}</b>
                                    <i ng-if="skill.defultRating < skill.confRating"
                                       class="mdi mdi-arrow-up-thick mdi-24px color-green"></i>
                                    <i ng-if="skill.defultRating === skill.confRating"
                                       class="mdi mdi-equal mdi-24px color-grey"></i>
                                    <i ng-if="skill.defultRating > skill.confRating"
                                       class="mdi mdi-arrow-down-thick mdi-24px color-red"></i>
                                </div>
                            </md-input-container>
                        </div>
                    </div>

                </div>

                <div layout="column" class="md-title">
                    <div>
                        <b>Additional skills: </b>
                    </div>
                    <div layout="column">
                        <div ng-repeat="skill in ::interview.skills |filter:{isPrimary:false}">
                            <md-input-container layout="row" flex="100">
                                <div flex="30">{{skill.skillName + ": "}}</div>
                                <div flex="20"><div hide-xs>{{skill.defultRating}}</div></div>
                                <div flex="20">
                                    <b>{{skill.confRating}}</b>
                                    <i ng-if="skill.defultRating < skill.confRating"
                                       class="mdi mdi-arrow-up-thick mdi-24px color-green"></i>
                                    <i ng-if="skill.defultRating === skill.confRating"
                                       class="mdi mdi-equal mdi-24px color-grey"></i>
                                    <i ng-if="skill.defultRating > skill.confRating"
                                       class="mdi mdi-arrow-down-thick mdi-24px color-red"></i>
                                </div>
                            </md-input-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
    </div>
</md-dialog>