@font-face {
    font-family: "FiraLight";
    src: url(../fonts/FiraSans-Light.ttf);
}

body {
    font-family: "FiraLight";
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

