@import "colors";

* {
  margin: 0;
  padding: 0;
}

body, html {
  background-color: $whiteColor;
  height: 100%;
  width: 100%;
  cursor: default;

}

a {
  text-decoration: none;
}

@media screen {
  .wrapper-content {
    margin: 10px auto;
    max-width: 75%;
  }

  .wrapper {
    max-width: 75%;
    margin: 0 auto;
  }
}

@media only screen and (max-device-width: 480px) {
  .wrapper-content {
    margin: 10px auto;
    max-width: 95%;
  }

  .wrapper {
    max-width: 95%;
    margin: 0 auto;
  }
}

.site-wrapper {
  min-height: 100%;
  padding-bottom: 60px;
  position: relative;
}

.footer-wrapper {
  height: 60px;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.chip {
  background-color: $primaryColor;
}

.background {
  background-color: $greyColor;
}

.container-main {
  background-color: $whiteColor;
}

.status-btn {
  max-height: 15px;
}

.badge {
  margin: 5px;
  padding: 4px;
  -webkit-user-select: none;
  cursor: default;
}

.open {
  outline: none;
  cursor: pointer;
}

a {
  color: $greyColor;
}

a:hover {
  color: $greyColor50;
}

.open:hover {
  color: $redColor;
}

.link {
  text-decoration: underline;
  cursor: pointer;
  border-style: none;
  outline: none;
}

.spinner {
  margin: 0 auto;
}

.spinner-center {
  min-height: 500px;
}

.selector {
  margin: 5px 0 5px 0;
}

hr {
  border: 0;
  clear: both;
  display: block;
  background-color: $redColor;
  height: 1px;
}

.underline {
  text-decoration: underline;
}

.card-content {
  margin-left: 16px
}

.right-margin {
  margin-right: 8px;
}

.top-margin {
  margin-top: 8px;
}

.opacity-icons {
  opacity: 0.5;
  cursor: pointer;
  outline: none;
}

.opacity-icons:hover {
  opacity: 1;
}

.opacity-icons:focus {
  outline: none;
  border: 0;
}

/* Colors */

.time-place-color {
  color: $greyColor700;
}

.color-red {
  color: $redColor;
}

.bg-red {
  background-color: $redColor;
}

.color-indigo {
  color: $primaryColor;
}

.bg-indigo {
  background-color: $primaryColor;
}

.color-green {
  color: $greenColor;
}

.bg-green {
  background-color: $greenColor;
}

.color-white {
  color: $whiteColor;
}

.bg-white {
  background-color: $whiteColor;
}

.color-grey {
  color: $greyColor;
}

.bg-grey {
  background-color: $greyColor;
}

.color-grey-50 {
  color: $greyColor50;
}

.bg-grey-50 {
  background-color: $greyColor50;
}

.color-grey-700 {
  color: $greyColor700;
}

.bg-grey-700 {
  background-color: $greyColor700;
}

.color-grey-900 {
  color: $greyColor900;
}

.bg-grey-900 {
  background-color: $greyColor900;
}

.color-yellow {
  color: $yellowColor;
}

.bg-yellow {
  background-color: $yellowColor;
}

.word-wrap {
  word-wrap: break-word;
}

.vladloh {
  position: fixed;
}

.capitalize {
  text-transform: capitalize;
}