<div ng-switch="mode.name">
    <form ng-submit="applyFilter()">
        <md-content layout="column" layout-margin layout-align="space-between center" layout-padding>
            <div class="quickSearch-wrapper">
                <div layout="row" layout-align="space-between center">
                    <h1 class="md-headline">Filter by: </h1>
                    <div ng-click="clear();" class="color-red link"> Clear all</div>
                </div>
                <div ng-switch-when="candidates">
                    <div layout="row" layout-align="space-between center">
                        <h1 class="md-title">Name</h1>
                        <div class="link" ng-click="selected.queryString = ''">
                            <i class="mdi mdi-close mdi-24px opacity-icons"></i>
                        </div>
                    </div>
                    <md-input-container class="quick-search-input" md-no-float="true">
                        <input type="text" ng-model="selected.queryString" aria-label="title"
                               placeholder="Title">
                    </md-input-container>
                    <div layout="column">
                        <div>
                            <div layout="row" layout-align="space-between center">
                                <h1 class="md-title">City</h1>
                                <div class="link" ng-click="selected.cities = ''">
                                    <i class="mdi mdi-close mdi-24px opacity-icons"></i>
                                </div>
                            </div>
                            <md-select ng-model="selected.cities" aria-label="city" placeholder="City"
                                       class="selector" multiple="true">
                                <md-option ng-repeat="cityOption in ::items.city|orderBy:'name'"
                                           ng-value="::cityOption.id">
                                    {{::cityOption.name}}
                                </md-option>
                            </md-select>
                        </div>
                        <div>
                            <div layout="row" layout-align="space-between center">
                                <h1 class="md-title">Profession</h1>
                                <div class="link" ng-click="selected.professions = ''">
                                    <i class="mdi mdi-close mdi-24px opacity-icons"></i>
                                </div>
                            </div>
                            <md-select ng-model="selected.professions" aria-label="profession"
                                       placeholder="Profession"
                                       class="selector" multiple="true">
                                <md-option
                                        ng-repeat="professionOption in ::items.profession |orderBy:'name'"
                                        ng-value="::professionOption.id">{{::professionOption.name}}
                                </md-option>
                            </md-select>
                        </div>
                        <div>
                            <div layout="row" layout-align="space-between center">
                                <h1 class="md-title">Experience</h1>
                                <div class="link" ng-click="selected.experience = ''">
                                    <i class="mdi mdi-close mdi-24px opacity-icons"></i>
                                </div>
                            </div>
                            <md-select ng-model="selected.experience" aria-label="experience"
                                       placeholder="Experience"
                                       class="selector">
                                <md-option
                                        ng-repeat="experienceOption in ::items.experience |orderBy:'name'"
                                        ng-value="::experienceOption.value">{{::experienceOption.name}}
                                </md-option>
                            </md-select>
                        </div>
                        <div ng-show="showAdvanced">
                            <div>
                                <div layout="row" layout-align="space-between center">
                                    <h1 class="md-title">Skills</h1>
                                    <div class="link" ng-click="selected.skills=[];">
                                        <i class="mdi mdi-close mdi-24px opacity-icons"></i>
                                    </div>
                                </div>
                                <div>
                                    <skills-tree skills-tree-request="skillTreeCallback"
                                                 chosen-skill="selected.skills"
                                                 multiselect="true"
                                                 md-no-float="true"></skills-tree>
                                </div>
                            </div>
                            <div ng-if="items.englishLevel">
                                <div layout="row" layout-align="space-between center" class="top-margin">
                                    <h1 class="md-title">English level</h1>
                                    <div class="link" ng-click="selected.englishLevel = ''">
                                        <i class="mdi mdi-close mdi-24px opacity-icons"></i>
                                    </div>
                                </div>
                                <md-select ng-model="selected.englishLevel" aria-label="englishLevel"
                                           placeholder="English Level"
                                           class="selector">
                                    <md-option ng-repeat="level in ::items.englishLevel |orderBy:'value'"
                                               ng-value="::level.value">
                                        {{::level.name}}
                                    </md-option>
                                </md-select>
                            </div>
                            <div>
                                <div layout="row" layout-align="space-between center" class="top-margin">
                                    <h1 class="md-title">Status</h1>
                                    <div class="link" ng-click="selected.statuses = ''">
                                        <i class="mdi mdi-close mdi-24px opacity-icons"></i>
                                    </div>
                                </div>
                                <md-select ng-model="selected.statuses" aria-label="status"
                                           placeholder="Status"
                                           class="selector" multiple="true">
                                    <md-option ng-if="items.candidateStatuses"
                                               ng-repeat="status in ::items.candidateStatuses |orderBy:'name'"
                                               ng-value="::status.id">
                                        {{::status.name}}
                                    </md-option>
                                </md-select>
                            </div>
                        </div>
                    </div>
                    <div layout="row" layout-align="center center">
                        <div>
                            <md-button class="md-raised md-button md-warn quickSearch-button"
                                       md-colors="{background:'red-600'}"
                                       ng-click="applyFilter()">Filter
                            </md-button>
                        </div>

                    </div>
                    <div layout="row" layout-align="end center" ng-click="fileExport()"
                         class="color-red link">Export
                        to
                        file
                    </div>
                </div>
                <div ng-switch-when="positions">
                    <div layout="row" layout-align="space-between center">
                        <h1 class="md-title">Title</h1>
                        <div class="link" ng-click="selected.queryString = ''">
                            <i class="mdi mdi-close mdi-24px opacity-icons"></i>
                        </div>
                    </div>
                    <md-input-container class="quick-search-input" md-no-float="true">
                        <input type="text" ng-model="selected.queryString" aria-label="title" placeholder="Title">
                    </md-input-container>
                    <div layout="column">
                        <div>
                            <div layout="row" layout-align="space-between center">
                                <h1 class="md-title">City</h1>
                                <div class="link" ng-click="selected.cities = ''">
                                    <i class="mdi mdi-close mdi-24px opacity-icons"></i>
                                </div>
                            </div>
                            <md-select ng-model="selected.cities" aria-label="city" placeholder="City" class="selector"
                                       multiple="true">
                                <md-option ng-repeat="cityOption in ::items.city|orderBy:'name'"
                                           ng-value="::cityOption.id">
                                    {{::cityOption.name}}
                                </md-option>
                            </md-select>
                        </div>
                        <div>
                            <div layout="row" layout-align="space-between center">
                                <h1 class="md-title">Profession</h1>
                                <div class="link" ng-click="selected.professions = ''">
                                    <i class="mdi mdi-close mdi-24px opacity-icons"></i>
                                </div>
                            </div>
                            <md-select ng-model="selected.professions" aria-label="profession" placeholder="Profession"
                                       class="selector" multiple="true">
                                <md-option ng-repeat="professionOption in ::items.profession |orderBy:'name'"
                                           ng-value="::professionOption.id">{{::professionOption.name}}
                                </md-option>
                            </md-select>
                        </div>
                        <div>
                            <div layout="row" layout-align="space-between center">
                                <h1 class="md-title">Experience</h1>
                                <div class="link" ng-click="selected.experience = ''">
                                    <i class="mdi mdi-close mdi-24px opacity-icons"></i>
                                </div>
                            </div>
                            <md-select ng-model="selected.experience" aria-label="experience" placeholder="Experience"
                                       class="selector">
                                <md-option ng-repeat="experienceOption in ::items.experience |orderBy:'name'"
                                           ng-value="::experienceOption.value">{{::experienceOption.name}}
                                </md-option>
                            </md-select>
                        </div>
                        <div ng-show="showAdvanced">
                            <div>
                                <div layout="row" layout-align="space-between center">
                                    <h1 class="md-title">Skills</h1>
                                    <div class="link" ng-click="selected.skills=[]">
                                        <i class="mdi mdi-close mdi-24px opacity-icons"></i>
                                    </div>
                                </div>
                                <div>
                                    <skills-tree skills-tree-request="skillTreeCallback"
                                                 chosen-skill="selected.skills" multiselect="true" md-no-float="true"></skills-tree>
                                </div>
                            </div>
                            <div>
                                <div layout="row" layout-align="space-between center" class="top-margin">
                                    <h1 class="md-title">Status</h1>
                                    <div class="link" ng-click="selected.statuses = ''">
                                        <i class="mdi mdi-close mdi-24px opacity-icons"></i>
                                    </div>
                                </div>
                                <md-select ng-model="selected.statuses" aria-label="status"
                                           placeholder="Status"
                                           class="selector" multiple="true">
                                    <md-option ng-if="items.positionStatuses"
                                               ng-repeat="status in ::items.positionStatuses |orderBy:'name'"
                                               ng-value="status.id">
                                        {{::status.name}}
                                    </md-option>
                                </md-select>
                            </div>
                        </div>
                    </div>
                    <div layout="row" layout-align="center center">
                        <div>
                            <md-button class="md-raised md-button md-warn quickSearch-button"
                                       md-colors="{background:'red-600'}"
                                       ng-click="applyFilter()">Filter
                            </md-button>
                        </div>

                    </div>
                </div>
            </div>
        </md-content>
    </form>
    <div layout="row">
        <div layout-margin class="link color-red" ng-click="goAdvanced()">
            <span>{{toggleText}}</span>
        </div>
    </div>
</div>