.footer {
    border-top: solid #b1b1b1 1px;
    height: 59px;
    padding-left: 13%;
    padding-right: 13%;
    position: relative;
    opacity: 0.99;
    z-index: 0;
    background: linear-gradient(to top,  #ffffff, #e2e2e2);
}

.footer-container {
    margin-top: 12px
}

.footer-ul {
    padding-left: 0;
}

.footer-li {
    display: inline;
}

