<div ng-controller="InterviewsController">
    <md-button class="md-raised md-primary" ng-click="openFeedback()">Open feedback</md-button>
    <md-button class="md-raised md-primary" ng-click="openApproveInterview()">Open approve</md-button>
    <md-button class="md-raised md-primary" ng-click="openDetailsInterview()">Open details interview</md-button>
    <md-button class="md-raised md-primary" ng-click="openPreviewInterview()">Open preview</md-button>
</div>