<md-dialog class="interview-dialog interview-container">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Approve form</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
            </md-button>
        </div>
    </md-toolbar>
    <div class="interview-wrapper">

        <div layout="column">
            <form ng-cloak ng-submit="putInterview()">
                <br>
                <div class="md-display-1">
                    <b><span>{{interview.header}}</span></b>
                </div>
                <br>
                <div layout="column" class="md-title" layout-align="space-between none">
                    <div ng-if="getAccess()!=='tech'" ng-click="candidateDetails()" layout="row">
                        <b >Candidate: </b> <div class="color-indigo">{{interview.candidate.nameEng}} {{interview.candidate.surnameEng}}</div>
                    </div>

                    <div ng-if="getAccess()==='tech'" layout="row">
                        <b>Candidate: </b> {{interview.candidate.nameEng}} {{interview.candidate.surnameEng}}
                    </div>
                    <div>
                        <b>Interviewer email: </b> {{interview.interviewerEmail}}
                    </div>
                    <div>
                        <b>Verdict: </b> {{interview.feedbackMessage}}
                    </div>
                    <div>
                        <b>Feedback: </b> {{interview.feedbackText}}
                    </div>
                </div>
                <div class="skillsTS">
                    <br>
                    <div layout="column" class="md-title">
                        <div>
                            <b>Primary skill:</b>
                        </div>

                        <div ng-repeat="skill in ::interview.skills |filter:{isPrimary:true}">
                            <div>
                                <md-input-container layout="row" class="mrgn-zero-in-row">
                                    <div flex="30">{{skill.skillName + ": "}}</div>
                                    <div flex="20"><div hide-xs>{{skill.defultRating}}</div></div>
                                    <div flex="20">
                                        <b>{{skill.confRating}}</b>
                                        <i ng-if="skill.defultRating < skill.confRating"
                                           class="mdi mdi-arrow-up-thick mdi-24px color-green"></i>
                                        <i ng-if="skill.defultRating === skill.confRating"
                                           class="mdi mdi-equal mdi-24px color-grey"></i>
                                        <i ng-if="skill.defultRating > skill.confRating"
                                           class="mdi mdi-arrow-down-thick mdi-24px color-red"></i>
                                    </div>
                                </md-input-container>
                            </div>
                        </div>
                    </div>

                    <div layout="column" class="md-title">
                        <div>
                            <b>Additional skills: </b>
                        </div>
                        <div layout="column">
                            <div ng-repeat="skill in ::interview.skills |filter:{isPrimary:false}">
                                <md-input-container layout="row" flex="100">
                                    <div flex="30">{{skill.skillName + ": "}}</div>
                                    <div flex="20"><div hide-xs>{{skill.defultRating}}</div></div>
                                    <div flex="20">
                                        <b>{{skill.confRating}}</b>
                                        <i ng-if="skill.defultRating < skill.confRating"
                                           class="mdi mdi-arrow-up-thick mdi-24px color-green"></i>
                                        <i ng-if="skill.defultRating === skill.confRating"
                                           class="mdi mdi-equal mdi-24px color-grey"></i>
                                        <i ng-if="skill.defultRating > skill.confRating"
                                           class="mdi mdi-arrow-down-thick mdi-24px color-red"></i>
                                    </div>
                                </md-input-container>
                            </div>
                        </div>
                    </div>
                </div>


                <br>
                <br>
                <md-radio-group ng-model="approvingVerdict" class="md-title" layout="row">
                    <md-radio-button value="Approve" class="md-primary">Approve</md-radio-button>
                    <md-radio-button value="Decline" class="md-primary">Decline</md-radio-button>
                </md-radio-group>
                <br>
                <br>

                <span ng-if="wasConfirmed" class="color-red"><b>You have already confirmed</b></span>
                <div layout="row" ng-hide="wasConfirmed">
                    <md-button flex="20" type="submit" class="md-raised md-primary">
                        Send
                    </md-button>
                </div>
                <br>
                <br>
                <br>

            </form>
        </div>
    </div>
</md-dialog>