<md-dialog class="interview-dialog">
    <form name="addInterviewForm" ng-submit="addInterviewForm.$valid && sendInterview()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Add interview</h2>
                <span flex></span>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div layout="column" class="md-dialog-content">
                <h2 class="md-headline right-margin"><b>{{candidate.nameEng}}
                    {{candidate.surnameEng}}/{{candidate.nameRus}} {{candidate.surnameRus}}
                    {{candidate.patronymicRus}}</b>
                </h2>
                <br>
                <md-input-container class="interviews-add-input mrgn-zero-in-row">
                    <label>Header of interview</label>
                    <input ng-required="true" ng-model="interview.header">
                </md-input-container>

                <div layout="row" layout-xs="column" flex="100">
                    <md-input-container class="mrgn-zero-in-row" flex-xs="50" flex="50">
                        <md-datepicker ng-required="true" ng-model="date" placeholder="Date"></md-datepicker>
                        <div class="errors" ng-messages="newForm.date.$error">
                            <div ng-message="required">Required</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="toolbar color-indigo mrgn-zero-in-row " required flex-xs="35" flex="25">
                        <label>Time</label>
                        <md-icon><i class="mdi mdi-timer mdi-24px color-grey-700" flex="10" layout-padding></i></md-icon>
                        <input ng-required="true" type="time" ng-model="time">
                    </md-input-container>
                </div>

                <md-input-container class="mrgn-zero-in-row">
                    <md-select ng-model="interview.position" placeholder="Choose position">
                        <md-option ng-value="pos.id" ng-repeat="pos in positions">
                            {{pos.header}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <br>
                <span class="md-title"><b>Please select the type of interview</b></span>
                <br>
                <md-radio-group ng-model="interview.type" class="md-title" layout="row">
                    <md-radio-button value="ts" class="md-primary">TS</md-radio-button>
                    <md-radio-button value="hrm" class="md-primary">HRM</md-radio-button>
                    <md-radio-button value="cu" class="md-primary">Customer</md-radio-button>
                </md-radio-group>
                <br>


                <md-input-container ng-if="interview.type ==='hrm' || interview.type ==='cu'">
                    <md-select ng-required="true" ng-model="interview.interviewerEmail" placeholder="Chose HRM email">
                        <md-option ng-value="hrm.email" ng-repeat="hrm in hrmsSpec">
                            {{hrm.email}}
                        </md-option>
                    </md-select>
                    <div ng-messages="addInterviewForm.interview.interviewerEmail.$error">
                        <div ng-message="required">This field is required</div>
                    </div>
                </md-input-container>

                <md-input-container ng-if="interview.type ==='ts'">
                    <md-select  required ng-model="interview.interviewerEmail" placeholder="Choose Techincal specialist email">
                        <md-option name="tsEmail" ng-value="tech.email" ng-repeat="tech in techsSpec" required>
                            {{tech.email}}
                        </md-option>
                    </md-select>
                    <div ng-messages="addInterviewForm.tsEmail.$error">
                        <div ng-message="required">This field is required</div>
                    </div>
                </md-input-container>


                <div layout="column" ng-if="interview.type ==='ts'" class="md-body-2" layout-align="space-between none">
                    <h1 class="md-title"><b>Skills:</b></h1>

                    <div layout="column">
                        <div flex-xs flex="50" class="md-padding demo">
                            <md-checkbox class="md-primary" aria-label="Select All"
                                         ng-checked="isChecked()"
                                         md-indeterminate="isIndeterminate()"
                                         ng-click="toggleAll()">
                                <span ng-if="isChecked()">Un-</span>Select All
                            </md-checkbox>
                        </div>
                        <div>
                            <b>Primary skill: </b>
                        </div>
                        <div class="md-padding demo" layout="column"
                             ng-repeat="skill in ::candidate.skills |filter:{isPrimary:true}">
                            <md-checkbox class="md-primary" ng-checked="exists(skill, selected)"
                                         ng-click="toggle(skill, selected)">
                                <div>{{::skill.name}}</div>
                            </md-checkbox>
                        </div>
                    </div>


                    <div layout="column">
                        <div>
                            <b>Additional skills: </b>
                        </div>
                        <div class="md-padding demo">
                            <div class="demo-select-all-checkboxes"
                                 ng-repeat="item in skills | filter:{isPrimary:false}">
                                <md-checkbox class="md-primary" ng-checked="exists(item, selected)"
                                             ng-click="toggle(item, selected)">
                                    {{ item.name}}
                                </md-checkbox>
                            </div>
                        </div>
                    </div>


                </div>

                <md-input-container>
                    <label> Description</label>
                    <textarea ng-model="interview.description" rows='3' cols='50'></textarea>
                </md-input-container>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-click="answer('not useful')">
                Cancel
            </md-button>
            <md-button type="submit" value="Submit">
                Send
            </md-button>
        </md-dialog-actions>

    </form>
</md-dialog>