<div class="wrapper-content">
    <div layout="column">
        <div layout="row" layout-align="space-between center">
            <div class="md-display-1 color-red">
                <span flex-offset="13">Candidates</span>
            </div>
            <div layout="row">
                <span layout-align-md="none center" class="md-title color-red">Found: {{found}}</span>
            </div>
        </div>
        <hr>
        <div layout="row" layout-md="column" layout-sm="column" layout-xs="column">
            <div flex="30" flex-md="100" flex-sm="100" flex-xs="100" layout-align="start center">
                <quick-filter items="filters" export-to-file="downloadReport"
                              already-selected="alreadySelected" mode="mode"></quick-filter>
            </div>
            <div flex="70" flex-md="100" flex-sm="100" flex-xs="100"
                 layout-align="center center"
                 ng-cloak>
                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab ng-repeat="tab in tabs" ng-click="changeTab(tab)" label="{{tab}}">
                        <div ng-if="activeTab === tab">
                            <div infinite-scroll="loadMore()" infinite-scroll-distance="3"
                                 infinite-scroll-disabled="!showMore">
                                <candidate-card ng-repeat="candidate in candidates[activeTab]"
                                                candidate="::candidate" filter-config="filterConfig"></candidate-card>
                            </div>
                        </div>
                        <div layout="row" layout-align="center center" layout-margin ng-if="!found">
                            <h1 class="md-headline">Nothing was found</h1>
                        </div>
                    </md-tab>
                </md-tabs>
                <div ng-show="isLoading">
                    <md-progress-circular flex-offset="50" layout="column" layout-align="center center"
                                          md-mode="indeterminate"
                                          value="{{isLoading}}" md-diameter="60"
                                          ng-cloak></md-progress-circular>
                </div>
            </div>
        </div>
    </div>
</div>