<md-dialog class="interview-dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Feedback form</h2>
        </div>
    </md-toolbar>
    <div class="interview-wrapper">
        <div layout="column">
            <form ng-cloak ng-submit="putInterview()">
                <br>
                <div layout="row">
                    <div class="md-display-1">
                        <b><span>{{interview.header}}</span></b>
                    </div>
                </div>
                <br>
                <br>

                <div layout="column" class="md-title" layout-align="space-between none">
                    <div ng-if="getAccess()!=='tech'" ng-click="candidateDetails()" layout="row">
                        <b>Candidate: </b>
                        <div class="color-indigo">{{interview.candidate.nameEng}} {{interview.candidate.surnameEng}}
                        </div>
                    </div>

                    <div ng-if="getAccess()==='tech'" layout="row">
                        <b>Candidate: </b> {{interview.candidate.nameEng}} {{interview.candidate.surnameEng}}
                    </div>

                    <div>
                        <b>HRM-email: </b> {{interview.hrmEmail}}
                    </div>
                    <div ng-if="interview.description" class="word-wrap">
                        <b>Description: </b> {{interview.description}}
                    </div>
                </div>
                <br>

                <div class="skillsCU" ng-if="interview.type == 'cu'">
                    <br>
                    <md-radio-group ng-model="interview.feedbackMessage" class="md-title" layout="row">
                        <md-radio-button value="Approve" class="md-primary">Approve</md-radio-button>
                        <md-radio-button value="Decline" class="md-primary">Decline</md-radio-button>
                    </md-radio-group>
                    <br>
                    <br>
                </div>


                <div class="skillsTS" ng-if="interview.type == 'ts'">
                    <br>
                    <div layout="column" class="md-title">
                        <div>
                            <b>Primary skill:</b>
                        </div>
                        <div ng-repeat="skill in ::interview.skills |filter:{isPrimary:true}">
                            <div>
                                <md-input-container layout="row" layout-align="start center" class="mrgn-zero-in-row">
                                    <div class="md-title">{{skill.skillName + ": "}}</div>
                                    <div class="md-title">
                                        <md-select required ng-model="skill.confRating" placeholder="0">
                                            <md-option required ng-value="rank.val" ng-repeat="rank in skillRanks">
                                                {{rank.key}}
                                            </md-option>
                                        </md-select>
                                    </div>
                                </md-input-container>
                            </div>
                        </div>
                    </div>

                    <div layout="column" class="md-title">
                        <b>Additional skills: </b>
                    </div>
                    <div layout="column">
                        <div ng-repeat="skill in ::interview.skills |filter:{isPrimary:false}">
                            <md-input-container layout="row" layout-align="start center" class="mrgn-zero-in-row">
                                <div class="md-title">{{skill.skillName + ": "}}</div>
                                <div class="md-title">
                                    <md-select required ng-model="skill.confRating" placeholder="0">
                                        <md-option required ng-value="rank.val" ng-repeat="rank in skillRanks">
                                            {{rank.key}}
                                        </md-option>
                                    </md-select>
                                </div>
                            </md-input-container>
                        </div>
                    </div>
                    <br>
                    <br>
                    <md-radio-group ng-model="interview.feedbackMessage" class="md-title" layout="row">
                        <md-radio-button value="Recommend" class="md-primary">Recommend</md-radio-button>
                        <md-radio-button value="Don't recommend" class="md-primary">Don't recommend</md-radio-button>
                    </md-radio-group>
                    <br>
                    <br>
                </div>


                <div class="skillsHRM" ng-if="interview.type == 'hrm'" layout="column">
                    <div class="md-title">
                        <b><span>Fill in the following fields: </span></b>
                    </div>
                    <br>
                    <md-input-container class="mrgn-zero-in-row">
                        <label><b>Job change reason</b></label>
                        <input required ng-model="interview.jobChangeReason">
                    </md-input-container>
                    <md-input-container class="mrgn-zero-in-row">
                        <label><b>Ready to get started</b></label>
                        <input required ng-model="interview.readyToGetStarted">
                    </md-input-container>
                    <md-input-container class="mrgn-zero-in-row">
                        <label><b>Willingness to travel</b></label>
                        <input required ng-model="interview.willingnessToTravel">
                    </md-input-container>
                    <md-input-container class="mrgn-zero-in-row">
                        <label><b>Salary $</b></label>
                        <input required ng-model="interview.salary">
                    </md-input-container>
                    <md-input-container class="mrgn-zero-in-row">
                        <label><b>Motivation</b></label>
                        <input required ng-model="interview.motivation">
                    </md-input-container>
                    <md-input-container class="mrgn-zero-in-row">
                        <md-select required ng-model="interview.englishLevel" placeholder="Chose the skill level">
                            <md-option required ng-value="rank.val" ng-repeat="rank in englishRanks">
                                {{rank.key}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <br>
                    <br>
                    <md-radio-group ng-model="interview.feedbackMessage" class="md-title" layout="row">
                        <md-radio-button value="Approve" class="md-primary">Approve</md-radio-button>
                        <md-radio-button value="Archive" class="md-primary">Archive</md-radio-button>
                        <md-radio-button value="Decline" class="md-primary">Decline</md-radio-button>
                    </md-radio-group>
                    <br>
                    <br>
                </div>

                <div class="md-title" ng-hide="wasConfirmed">
                    <b><span>Recall: </span></b>
                </div>

                <md-input-container ng-model="interview.feedbackText" ng-hide="wasConfirmed">
                    <label> Write a review</label>
                    <textarea ng-model="interview.feedbackText" rows='3' cols='50'></textarea>
                </md-input-container>

                <span ng-if="wasConfirmed" class="color-red"><b>You have already confirmed</b></span>
                <div layout="row" ng-hide="wasConfirmed">
                    <md-button flex="20" type="submit" class="md-raised md-primary">
                        Send
                    </md-button>
                </div>
                <br>
                <br>

            </form>
        </div>
    </div>
</md-dialog>






