<md-dialog flex="50">
    <md-dialog-content>
        <div ng-repeat="candidate in candidates">
            <md-card>
                <div layout="row" layout-align="space-between center" class="md-body-1">
                    <div layout-wrap>
                        <h1 class="md-headline color-indigo margin-small">
                            <b>{{candidate.name}} {{candidate.surname}}</b>
                        </h1>
                    </div>
                    <div>
                        <span class="color-red link margin-small" ng-click="openCandidateDetails(candidate)">{{candidate.linkText}}</span>
                    </div>
                </div>
                <div ng-show="candidate.sendingRequest">
                    <md-progress-circular flex-offset="50" layout="column" layout-align="center center" md-mode="indeterminate" md-diameter="60" ng-cloak></md-progress-circular>
                </div>
                <div class="margin-small" layout="column" ng-if="candidate.isOpened">
                    <div layout="row" layout-align="start center">
                        <div layout="row">
                            <h2 class="md-headline right-margin color-indigo"><b>{{candidate.details.nameEng}}
                                {{candidate.details.surnameEng}}/{{candidate.details.nameRus}}
                                {{candidate.details.patronymicRus}} {{candidate.details.surnameRus}} </b>
                            </h2>
                            <div layout="row" layout-align="none center">
                                <i class="mdi {{candidate.details.status.name|iconFilter}} mdi-24px"></i>
                                <div class="md-subhead">{{candidate.details.status.name}}</div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div layout="column" class="md-body-2" layout-align="space-between none">
                        <h1 class="md-headline color-indigo">Personal Information: </h1>
                        <div ng-if="candidate.details.city.name">
                            <b>City: </b> {{::candidate.details.city.name}}
                        </div>
                        <div ng-if="candidate.details.salary">
                            <b>Wishes for wages: </b>{{::candidate.details.salary|currency}}
                        </div>
                        <span>
                                <b>Resume: </b> <a class="link" ng-click="getResume(candidate.details.id)">Download</a>
                            </span>
                    </div>
                    <br>
                    <div layout="column" class="md-body-2" layout-align="space-between none">
                        <h1 class="md-headline color-indigo">Skills: </h1>
                        <div layout="row" ng-if="candidate.details.profession">
                            <div flex="15" flex-md="25" flex-sm="25" flex-xs="50">
                                <b>Profession:</b>
                            </div>
                            <div flex="20" flex-md="70" flex-sm="70" flex-xs="70">
                                {{::candidate.details.profession.name}}
                            </div>
                        </div>
                        <div layout="row" ng-if="candidate.details.experience">
                            <div flex="15" flex-md="25" flex-sm="25" flex-xs="50">
                                <b>Experience: </b>
                            </div>
                            <div flex="20" flex-md="70" flex-sm="70" flex-xs="70">{{::candidate.details.experience}}
                                year(s)
                            </div>
                        </div>
                        <div layout="row" layout-md="column" layout-sm="column" layout-xs="column">
                            <div flex="15" flex-md="100" flex-sm="100" flex-xs="100">
                                <b>Primary skill:</b>
                            </div>
                            <div layout="row" layout-align-xs="space-between center" flex="100" ng-repeat="skill in ::candidate.details.skills |filter:{isPrimary:true}">
                                <div flex="25" flex-xs="25" layout-wrap layout-fill class="word-wrap">
                                    {{::skill.name}}
                                </div>
                                <div flex="25" flex-xs hide-xs>
                                    <stars count="skill.rating"></stars>
                                </div>
                                <div flex="10" flex-xs="5" hide-gt-xs>
                                    {{::skill.rating}}
                                </div>
                                <div ng-if="skill.lastUsage" flex="15" flex-sm="20" flex-md="25" flex-xs="25">
                                    Last usage: {{::skill.lastUsage}}
                                </div>
                                <div ng-if="skill.experience" flex="15" flex-sm="25" flex-md="25" flex-xs="25">
                                    Exp: >{{::skill.experience}} year(s)
                                </div>
                                <div flex-xs="5" layout="row" ng-if="::skill.wasConfirmed">
                                    <div hide-xs>Confirmed</div>
                                    <i class="mdi mdi-check mdi-24px"></i>
                                </div>
                            </div>
                        </div>
                        <div layout="row" layout-md="column" layout-sm="column" layout-xs="column" ng-if="candidate.details.skills.length !== 1">
                            <div flex="15" flex-md="100" flex-sm="100" flex-xs="100">
                                <b>Additional skills: </b>
                            </div>
                            <div layout="column" flex="100">
                                <div layout="row" layout-align-xs="space-between center" flex="100" ng-repeat="skill in ::candidate.details.skills |filter:{isPrimary:false}">
                                    <div flex="25" flex-xs="25" layout-wrap layout-fill class="word-wrap">
                                        {{::skill.name}}
                                    </div>
                                    <div flex="25" flex-xs hide-xs>
                                        <stars count="skill.rating"></stars>
                                    </div>
                                    <div flex="10" flex-xs="5" hide-gt-xs>
                                        {{::skill.rating}}
                                    </div>
                                    <div ng-if="skill.lastUsage" flex="15" flex-sm="20" flex-md="25" flex-xs="25">
                                        Last usage: {{::skill.lastUsage}}
                                    </div>
                                    <div ng-if="skill.experience" flex="15" flex-sm="25" flex-md="25" flex-xs="25">
                                        Exp: >{{::skill.experience}} year(s)
                                    </div>
                                    <div flex-xs="5" layout="row" ng-if="::skill.wasConfirmed">
                                        <div hide-xs>Confirmed</div>
                                        <i class="mdi mdi-check mdi-24px"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div layout="row" ng-if="candidate.details.englishLevel">
                            <div flex="15" flex-sm="25" flex-md="25" flex-xs="30">
                                <b>English level: </b>
                            </div>
                            <div flex="100">{{::candidate.details.englishLevel|englishLevel}}</div>
                        </div>
                    </div>
                    <br>
                    <div layout="column" class="md-body-2" layout-align="space-between none">
                        <h1 class="md-headline color-indigo">Contacts:</h1>
                        <div>
                            <b>Email: </b><span ng-repeat="email in candidate.details.email|filter:{isPrimary:true}"> {{::email.email}}</span>
                        </div>
                        <div ng-if="candidate.details.email.length>1">
                            <b>Extra
                                emails: </b><span ng-repeat="email in candidate.details.email |filter:{isPrimary:false}"> {{::email.email}}</span>
                        </div>
                        <div ng-if="candidate.details.linkedIn">
                            <span><b>LinkedIn: </b><a href="http://{{::candidate.details.linkedIn}}" class="link">link</a></span>
                        </div>
                        <div ng-if="candidate.details.skypeId">
                            <span><b>Skype ID: </b>{{::candidate.details.skypeId}}</span>
                        </div>
                        <div ng-if="candidate.details.phoneNumber">
                            <span><b>Phone number: </b>{{::candidate.details.phoneNumber}}</span>
                        </div>
                    </div>
                    <br>
                    <div layout="column" class="md-body-2 color-indigo">
                        <div ng-if="candidate.details.lastContact">
                            <span><b>Last contact: </b>{{::candidate.details.lastContact|date}}</span>
                        </div>
                        <div ng-if="candidate.details.hr">
                            <span>
                                <b>HR: </b>{{::candidate.details.hr}}
                            </span>
                        </div>
                        <div ng-if="candidate.details.nextContact">
                            <span>
                                <b>Date to contact: </b> {{::candidate.details.nextContact|date}}
                            </span>
                        </div>
                    </div>
                </div>
            </md-card>
        </div>
    </md-dialog-content>
</md-dialog>